/*container*/

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}



/*=============================================
=            Custom Responsive CSS            =
=============================================*/

@media (max-width: 1200px) {
  .hide_1200 {
    display: none;
  }

  .show_1200 {
    display: block;
  }

  .show_flex_1200 {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .hide_1024 {
    display: none;
  }

  .show_1024 {
    display: block;
  }

  .show_flex_1024 {
    display: flex;
  }
}

@media (max-width: 992px) {
  .single_cat_main{
    flex-direction: column-reverse;
  }
  .single_store_main{
    flex-direction: column;
  }
  .side_item {
    flex: 1 1 300px;
}
  .sidebar {
    position: static;
    flex: 0 0 auto;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row !important;
  }

  .featured_cpn_section {
    flex-direction: column;
  }

  .combine_section {
    flex-direction: column;
  }

  .thumbnail_slider .swiper-slide {
    max-width: 350px;
    border: 1px solid rgba(var(--black), 0.2);
  }

  .thumbnail_slider {
    position: relative;
    margin: 30px 0;
    inset: unset;
  }

  .banner_thumb_slider {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .banner_slide_content {
    max-width: 100%;
  }

  .banner_slide_img {
    max-height: 100%;
    height: 350px;
  }

  .hide_992 {
    display: none;
  }

  .show_992 {
    display: block;
  }

  .show_flex_992 {
    display: flex;
  }
}

@media (max-width: 768px) {
  .modal_title {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.modal_title_content .timing{
  justify-content: center;
}
  .store_item.mb-4 {
    flex-direction: column;
  }

  .store_header {
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    border-bottom: 1px solid rgba(var(--black), 0.02);
    border-right: 0;
    padding: 10px 10px;
  }

  .store_heading {
    padding: 0;
    border-bottom: 0;
  }

  .hide_768 {
    display: none;
  }

  .show_768 {
    display: block;
  }

  .show_flex_768 {
    display: flex;
  }
}

@media (max-width: 650px) {
  .hide_650 {
    display: none;
  }

  .show_650 {
    display: block;
  }

  .show_flex_650 {
    display: flex;
  }
}

@media (max-width: 600px) {
  .single_str_detail {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .single_str_content_head {
    align-items: center;
    justify-content: center;
  }

  .rating_main {
    justify-content: center;
  }

  .single_str_filter {
    justify-content: center;
  }

  .hide_600 {
    display: none;
  }

  .show_600 {
    display: block;
  }

  .show_flex_600 {
    display: flex;
  }
}

@media (max-width: 500px) {
  .featured_top_bar {
    flex-direction: column;
  }

  .cpn_header {
    flex-direction: column;
    text-align: center;
  }

  .hide_500 {
    display: none;
  }

  .show_500 {
    display: block;
  }

  .show_flex_500 {
    display: flex;
  }
}

@media (max-width: 425px) {
  .hide_425 {
    display: none;
  }

  .show_425 {
    display: block;
  }

  .show_flex_425 {
    display: flex;
  }
}

@media (max-width: 375px) {
  .hide_375 {
    display: none;
  }

  .show_375 {
    display: block;
  }

  .show_flex_375 {
    display: flex;
  }
}

/*=====  End of Custom Responsive CSS  ======*/