 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
ul,p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
a,
a:hover,
a:focus,
a:active{
    text-decoration: none ;
    color:#fff ;
}
.web_imagebox{
    display: block;
    min-height: 20px;
    width: 100%;
    position: relative;
}
.web_imagebox img {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.section{
    padding: 20px 0;
}
/*___________________________________________Index Page CSS_____________________________________________*/

/*---------------------------header---------------------------------*/
header {
    width: 100%;
    background: #1e2f6d;
    z-index: 10;
    position: relative;
}
header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
header nav .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 150px;
}
header nav .logo-container .logo{
    width: 100%;
    height: auto;
}
header nav .logo-container #click{
    display: none;
}
header ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-start;
    flex: 0 0 auto;
    column-gap: 10px;
}
header .categories-dd {
    position: absolute;
    top: 100%;
    right: 15px;
    width: 40%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    display: none;
    border-radius: 0 0 10px 10px;
}
header .categories-dd .categories-dd-body {
    text-align: center;
}
header .categories-dd .categories-dd-body ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    margin: 0 auto;
    list-style: none;
    padding: 20px 10px;
}
header .categories-dd .categories-dd-body ol li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    width: 0;
    transition: 0.5s;
}
header .categories-dd .categories-dd-body ol li:hover{
    width: 110px;
    background-color: #f1f1f1;
}
header .categories-dd .categories-dd-body ol li a {
    color: #000;
    margin-left: 15px;
}
header .categories-dd .categories-dd-body ol li .web_imagebox {
    flex: 0 0 35px;
    height: 35px;
    background: #f1f1f1;
    border-radius: -21%;
}

header .categories-dd .categories-dd-body ol li img {
    max-width: 60%;
    max-height: 60%;
}   
header .categories-dd .categories-dd-header {
    background-color: #f1f1f1;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .categories-dd .categories-dd-header i {
    color: #1e2f6d;
    cursor: pointer;
}
header .categories-dd .categories-dd-header h3 {
    color: #1e2f6d;
    font-weight: 600;
    font-size: 16px;
}
header .categories-dd .categories-dd-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px 10px 20px;
}
header .categories-dd .categories-dd-footer a {
    position: relative;
    color: #f8bc06;
    font-size: 14px;
    font-weight: 600;
}
header .categories-dd .categories-dd-footer a:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid #f8bc06;
    transition: 0.5s;
}
header .categories-dd .categories-dd-footer a:hover:before{
    width: 100%;
}
header ul li.active {
    background-color: #f8bc06;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
header ul li {
    color: #fff;
    margin: 10px 0px 0 0;
    text-align: center;
    transition: 0.2s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
header ul li:last-of-type{
    background: #f8bc06;    
    margin-left: auto;
    transition: 0.2s
}
header ul li:last-of-type:hover{
    background-color: #f8bc06;
}
header ul li img{
    height: 20px;
    line-height: 20px;
    margin: -3px 10px 0 0;
    filter: invert(1);
}
header ul li a i{
    padding: 0 0 0 10px;
}
header ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    margin: px 4px 0 0;
    display: flex;
    text-align: center;
    display: flex;
    padding: 10px 12px;
    align-items: center;
}
header ul li:hover {
    color: #fff;
    background: #f8bc06;
}
header form{
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
header form input{
    width: 50%;
    padding: 10px 20px;
    outline: none;
    border: 0;
    font-size: 14px;
    border-radius: 30px;
    z-index: 10;
}
header form i{
    position: absolute;
    right: 5px;
    background: #f8bc06;
    color: #fff;
    padding: 9px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 11;

}.search_suggestion {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 20px;
    width: 50%;
    padding-top: 35px;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    border-radius: 0 0 10px 10px;
}
.search_suggestion .search {
    font-size: 16px;
    font-weight: 600;
    color: #1e2f6d;
}
.suggestion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 27px 0 10px 0;
    grid-gap: 25px;
}
.suggestion_store {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 5px 5px;
    background: #1e2f6d03;
    position: relative;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    transition: 0.2s ease;
}
.suggestion_store:hover {
    box-shadow: 0 0 5px rgb(221 221 221 / 40%);
    transform: scale(1.01);
}
.store_img {
    display: flex;
    height: auto;
    /* width: 100%; */
    position: absolute;
    top: -15px;
    align-items: center;
    /* justify-content: center; */
    border-radius: 50%;
    padding-left: 0px;
    border: 2px solid #f1f1f1;
}
.suggestion_store .web_imagebox {
    /* min-height: 40px; */
    height: 40px;
    width: 40px;
}


.suggestion_store .web_imagebox img{
    border-radius: 50%;
}
.suggestion_content {
    margin-top: 0px;
    text-align: left;
    padding-left: 60px;
}
.suggestion_content p{
    font-size: 14px;
    font-weight: 500;
    color: #1e2f6d;
}
.suggestion_content span{
    font-size: 13px;
    color: #bfbfbf;
}
.demo {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100vw;
     height: 100vh;
     background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
 .demo .menu-icon {
     transform: scale(1.5);
}
 :root {
     --bar-bg: #212529;
}
 .menu-icon {
    display: none;
     position: relative;
     width: 50px;
     height: 50px;
     cursor: pointer;
}
 .menu-icon .menu-icon__cheeckbox {
     display: block;
     width: 100%;
     height: 100%;
     position: relative;
     cursor: pointer;
     z-index: 2;
     -webkit-touch-callout: none;
     position: absolute;
     opacity: 0;
}
 .menu-icon div {
     margin: auto;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     width: 22px;
     height: 12px;
}
 .menu-icon span {
     position: absolute;
     display: block;
     width: 100%;
     height: 2px;
     background-color: var(--bar-bg, #000);
     border-radius: 1px;
     transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
 .menu-icon span:first-of-type {
     top: 0;
}
 .menu-icon span:last-of-type {
     bottom: 0;
}
 .menu-icon.active span:first-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
     transform: rotate(45deg);
     top: 5px;
}
 .menu-icon.active span:last-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
     transform: rotate(-45deg);
     bottom: 5px;
}
 .menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
     width: 22px;
}
 @media (max-width: 992px) {
     .menu-icon:hover span:first-of-type {
         width: 26px;
    }
     .menu-icon:hover span:last-of-type {
         width: 12px;
    }
}
/*---------------------------.top-stores---------------------------------*/
.top-stores{
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    padding: 30px 0;
}
.top-stores .topStores{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.top-stores .topStores h3{
    font-size: 28px;
    background: #f1f1f1;
    padding: 0 20px 0 0;
    z-index: 1;
    color: #1e2f6d;
    font-weight: 600;
}
.topStores .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1e2f6d;
}
.top-stores .card-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 20px;
}
.top-stores .card-main .card {
    background: #fff;
    display: block;
    transition: all 0.2s ease-in-out;
    float: left;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    color: #000;
    padding: 4px 0;
}
.top-stores .card-main .card:hover{
    transform: translate(0px, -5px);
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
}
.top-stores .card-main .card-img {
    width: 100%;
    height: 60px;
}
.top-stores .card-main .card-img .web_imagebox {
    width: 100%;
    height: 100%;
}
.web_imagebox{
    display: block;
    min-height: 20px;
    width: 100%;
    position: relative;
}
.top-stores .card-main .card-img .web_imagebox img{
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 90%;
}
.top-stores .card-main .card .content {
    text-align: center;
    margin-top: 5px;
}
.top-stores .card-main .card .content span {
    font-size: 13px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    -webkit-line-clamp: 1;
    padding: 0 5px;
}
.top-stores .card-main .card .content p{
    color: #333;
    font-size: 12px;
}
.top-stores .card-main a.viewMore{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-stores .card-main a.viewMore i {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #cfcfcf;
    font-weight: 500;
}
.top-stores .card-main a.viewMore i span{
    font-size: 12px;
    padding: 0 0 0 8px;
    font-style: normal;
}

/*---------------------------featuredOffers---------------------------------*/
.featured-offers{
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 30px 0;
}
.featured-offers .featuredOffers{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.featured-offers .featuredOffers h3{
    font-size: 28px;
    background: #fff;
    padding: 0 20px 0 0;
    z-index: 1;
    color: #1e2f6d;
    font-weight: 600;
}
.featuredOffers .line{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1e2f6d;
}
.featured-offers .card-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.featured-offers .card-main .card {
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.featured-offers .card-main .card:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    transform: scale(1.03);
}
.featured-offers .card-main .card a .card-img{
    background: url("C:/Users/Techonza Design/Desktop/Hayyan/1st Web/Images/Coupon-card.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%;
    background-color: #666;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.2s;
}
.featured-offers .card-main .card .card-content {
    position: relative;
    padding: 10px 15px;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.featured-offers .card-main .card .card-content .user-used {
    color: #fff;
    font-size: 12px;
    position: absolute;
    background: #1e2f6d;
    padding: 3px 8px;
    top: -12px;
    /* right: 9px; */
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    left: 20px;
    z-index: 2;
}
.featured-offers .card-main .card .web_imagebox {
    position: absolute;
    top: -120px;
    left: 0;
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 5;
}
.featured-offers .card-main .card .web_imagebox img {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%x;
}
.featured-offers .card-main .card .card-content .user-used i{
    padding-right: 5px;
}
.featured-offers .card-main .card .card-content .product-heading{
    line-height: 20px;  
    margin: 20px 0 10px 0;
    font-weight: 600;
    font-size: 17px;
    display: inline-block;
    color: #000;
}
.product-heading a{
    color: #000;
}
.featured-offers .card-main .card .card-content .read-more{
    color: gray;
    font-size: 14px;
}
.featured-offers .card-main .card .card-content .expires{
    font-size: 12px;
    color: #bb4500;
    margin: 10px 0;
    font-weight: 500;
}
.featured-offers .card-main .card .card-content .code{
    position: relative;
}
.featured-offers .card-main .card .card-content .code a {
    background: #1e2f6d;
    height: 40px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.2s;
}
.featured-offers .card-main .card .card-content .code a:hover{
    background: #121c42;
}
/*---------------------------popular-categories---------------------------------*/
.popular-categories{
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    padding: 30px 0;
}
.popular-categories .popularCategories{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.popular-categories .popularCategories h3{
    font-size: 28px;
    background: #f1f1f1;
    padding: 0 20px 0 0;
    z-index: 1;
    color: #1e2f6d;
    font-weight: 600;
}
.popularCategories .line{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1e2f6d;
}
.popular-categories .card-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.popular-categories .card-main .card {
    background: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    column-gap: 15px;
    transition: all 0.3s ease;
}
.popular-categories .card-main .card:hover{
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    transform: translate(0,-10px);
}
.popular-categories .card-main .card .card-img {
    height: 70px;
    width: 70px;
    flex: 0 0 70px;
    background: #1e2f6d26;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
}
.popular-categories .card-main .card .card-img .web_imagebox {
    width: 100%;
    height: 100%;
}
.popular-categories .card-main .card .card-img .web_imagebox img {
    max-width: 70%;
    max-height: 70%;
}
.popular-categories .card-main .card .card-text{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-align: center;
    text-transform: capitalize;
}
/*---------------------------disclaimer---------------------------------*/
.disclaimer{
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    padding: 30px 0;
}
.disclaimer .disclaimerSavingLite{
    margin-bottom: 15px;
}
.disclaimer .disclaimerSavingLite h3{
    font-size: 22px;
    background: #f1f1f1;
    color: #1e2f6d;
    font-weight: 600;
}
.disclaimerSavingLite .line{
    width: 10%;
    height: 2px;
    background: #1e2f6d;
    margin: 0px 0 0 0;
}
.disclaimer .content-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.disclaimer .content-box p {
    font-size: 15px;
    color: #808080;
    line-height: 20px;
}
/*---------------------------footer---------------------------------*/
footer{
    width: 100%;
    background: #212121;
    padding: 20px 0;    
}
footer .footer-row-1 p{
    font-size: 15px;
    color: #d1d1d1;
}
footer hr{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #fff;
}
footer .footer-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 50px;
    column-gap: 20px;
}
footer .footer-row-1 .content-email{
    flex: 1;
}
footer .footer-row-1 .content-email img{
    height: auto;
}
footer .footer-row-1 form {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border-radius: 30px;
    max-width: 470px;
    overflow: hidden;
}
footer .footer-row-1 form input {
    flex: 1;
    padding: 10px 20px;
    outline: none;
    border: 0;
}
footer .footer-row-1 form a {
    font-size: 15px;
    flex: 0 0 130px;
    align-items: center;
    display: flex;
    transition: all 0.5s ease;
    background: #fff;
    color: #1e2f6d;
    position: relative;
    justify-content: center;
}
footer .footer-row-1 form a span{
    position: relative;
    z-index: 9;
    margin-right: 8px;
}
footer .footer-row-1 form a i{
    position: relative;
    z-index: 9;
}
footer .footer-row-1 form a:after {
    content: "";
    width: 100%;
    padding: 0px;
    background: #f8bc06;
    height: 100%;
    position: absolute;
    right: -200px;
    transition: all 0.5s ease;
}
footer .footer-row-1 form a:hover {
    color: #fff;
}
footer .footer-row-1 form a:hover:after {
    right: 0px;
}
footer .footer-row-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 50px;
    column-gap: 60px;
}
footer .footer-row-2 .logo{
    flex: 1;
}
footer .footer-row-2 .logo p{
    font-size: 15px;
    color: #d1d1d1;
    margin :10px 0;
}
footer .footer-row-2 .disclaimer-footer{
    flex: 1;
}
footer .footer-row-2 .disclaimer-footer h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 0 0 0 15px;
    border-left: 3px solid #f8bc06;
}
footer .footer-row-2 .disclaimer-footer p{
    font-size: 13px;
    color: #d1d1d1;
}
footer .footer-row-2 .logo p span{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}
footer .footer-row-2 .disclaimer-footer ul{
    list-style: none;
}
footer .footer-row-2 .disclaimer-footer ul li{
    line-height: 35px;
}
footer .footer-row-2 .disclaimer-footer ul li a{
    color: #d1d1d1;
    transition: 0.2s;
}
footer .footer-row-2 .disclaimer-footer ul li a i {
    padding: 0 5px 0 0;
    color: #f8bc06;
}
footer .footer-row-2 .disclaimer-footer ul li a:hover {
    color: #f8bc06;
}
footer .footer-row-2 .logo img{
    margin-bottom: 10px;
    cursor: pointer;    
}
footer .footer-row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-row-3 p{
    font-size: 15px;
    color: #d1d1d1;
}
footer .footer-row-3 .icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
}
footer .footer-row-3 .icons a {
    position: relative;
    color: #ffffff;
    height: 40px;
    width: 40px;
    font-size: 15px;
    background: #f8bc06;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s;
}
footer .footer-row-3 .icons a i{
    position: absolute;
}
footer .footer-row-3 .icons a .tooltip{
    position: absolute;
    padding: 2px 8px;
    background: #f8bc06;
    color: #fff;
    left: 50%;
    top: -35px;
    border-radius: 4px;
    display: none;
    font-size: 13px;
    transform: translate(-50%, 0);
}
footer .footer-row-3 .icons a .tooltip:after{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: #f8bc06;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
}
footer .footer-row-3 .icons a:hover .tooltip{
    display: block;
}
footer .footer-row-3 .icons a:hover {
    color: #fff;
    background: #f8bc06;
}
/*___________________________________________Store CSS_____________________________________________*/
.store{
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    padding: 30px 0;
}
.btnContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}
.store .btns {
    height: 30px;
    width: 35px;
    font-size: 15px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border-radius: 5px;
    transition: 0.2s;
}
.store .btns:hover{
    background-color: #c1bfbfe1;
}
.allStore{
    padding: 20px 0;
    background-color: #fff;

}
.aStoreHeading {
    display: flex;
    align-items: center;
    margin: 35px 0;
    justify-content: space-between;
}
.allStore .storeHeading{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.allStore .storeHeading h3{
    font-size: 28px;
    background: #fff;
    padding: 0 20px 0 0;
    z-index: 1;
    color: #1e2f6d;
    font-weight: 600;
}
.storeHeading .line{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #1e2f6d;
}
.allStore .link p {
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.allStore .link p a {
    color: #000;
    transition: 0.2s;
}
.allStore .link p a:hover{
    color: #1e2f6d;
}
.store .readMore a {
    position: relative;
    color: #1e2f6d;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.store .readMore a:before{
    content: '';
    position: absolute;
    width: 0%;
    transition: 0.5s;
    border-bottom: 1px solid #1e2f6d;
   bottom: 0;
}
.store .readMore a:hover:before{
    width: 100%;
}
.store .storeSubHeading h3 {
    font-size: 22px;
    color: #1e2f6d;
    font-weight: 600;
}
.storeSubHeading .line {
    width: 40px;
    height: 2px;
    background: #1e2f6d;
    margin: 0px 0 0 0;
}
.store .card-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;
}
.store .card-main .card {
    background: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.store .card-main .card:hover{
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    transform: scale(1.03);
}
.store .card-main .card .card-img {
    height: 75px;
    width: 70px;
    flex: 0 0 70px;
    background: #ffffff;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 10%);
}
.store .card-main .card .card-img .web_imagebox {
    width: 100%;
    height: 100%;
}
.store .card-main .card .card-img .web_imagebox img {
    max-width: 70%;
    max-height: 70%;
}
.store .card-main .card .card-content {
    height: 100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-left: 1px solid #efefef;
}
.store .card-main .card .card-text {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.store .card-main .card p {
    color: #959595;
    font-size: 13px;
    font-weight: 500;
}
/*___________________________________________ Categories List CSS_____________________________________________*/
.categories-list{
   padding: 20px 0;
   background-color: #f7f7f7;
}
.categories-list .card-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.categories-list .card-main .card .card-collapse{
    box-shadow: 0 14px 15px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -10px !important;
}
.categories-list .card-main .card .card-collapse .viewMore{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
}
.categories-list .card-main .card .card-collapse .viewMore a{
    position: relative;
    margin: 20px 0;
    color: #000;
    font-size: 14px;
}
.categories-list .card-main .card .card-collapse .viewMore a:before{
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    transition: 0.5s ease;
    border-bottom: 1px solid #000; 
}
.categories-list .card-main .card .card-collapse .viewMore a:hover:before{
    width: 100%;
}
.categories-list .card-main .card .card-collapse ul {
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    list-style-position: inside;
    list-style: none;
    grid-gap: 15px;
}
.categories-list .card-main .card .card-collapse ul li{
    color: #1e2f6d;
    border-radius: 10px;
}
.categories-list .card-main .card .card-collapse ul li a {
    line-height: 35px;
    display: flex;
    align-items: center;
    grid-gap: -153px;
    column-gap: 10px;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 7%);
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
    overflow: hidden;
}
.categories-list .card-main .card .card-collapse ul li a p{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.categories-list .card-main .card .card-collapse ul li a img {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
    border-right: 1px solid #dfdfdf;
    padding-right: 6px;
}
.categories-list .card-main .card .header{
    background: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.categories-list .card-main .card .header.header2{
    border-radius: 10px;
    transition-delay: 0.4s;
}
.categories-list .card-main .card .downArrow{
    padding-right: 20px;
    color: #1e2f6d;
}
.categories-list .card-main .card .card-img {
    height: 75px;
    width: 70px;
    flex: 0 0 70px;
    background: #ffffff;
}
.categories-list .card-main .card .card-img .web_imagebox {
    width: 100%;
    height: 100%;
}
.categories-list .card-main .card .card-img .web_imagebox img {
    max-width: 70%;
    max-height: 70%;
}
.categories-list .card-main .card .card-content {
    height: 100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-left: 1px solid #efefef;
}
.categories-list .card-main .card .card-text {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.categories-list .card-main .card p {
    color: #959595;
    font-size: 13px;
    font-weight: 500;
}
/*________________________________________Single Store Page CSS__________________________________________*/
.section{
    background-color: #f7f7f7;
}
.single-store {
    background-color: #f7f7f7;
}
.single-store .s-s-title1{
    height: 100px;
    width: 100%;
    background-color: #121e4a;
}
.single-store .s-s-title2 {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: -70px;
}
.single-store .title-bg {
    height: 70px;
    width: 70px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    position: absolute;
    right: -15px;
    bottom: 65px;
}
.single-store .s-s-title2 .single-store-content {
    margin-left: 30px;
    line-height: 30px;
    flex: 1;
}
.single-store .s-s-title2 .single-store-content h3 {
    font-size: 25px;
    font-weight: 600;
    color: #1e2f6d;
}
.single-store .s-s-title2 .single-store-content .links {
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.single-store .s-s-title2 .single-store-content .links .a {
    margin: 0 5px;
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.single-store .s-s-title2 .single-store-content .links span.a{
    color: #c1c1c1;
}
.single-store .s-s-title2 .single-store-content .rating{
    display: flex;
    align-items: center;
}
.single-store .s-s-title2 .single-store-content .rating .r-v{
    margin-left: 10px;
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.single-store .s-s-title2 .single-store-content i.fa-star{
    color: #c7c7c7;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.single-store .s-s-title2 .single-store-content i.fa-star:hover{
    color: #f8bc06;
}
.single-store .s-s-title2 .views-container {
    flex: 0 0 auto;
}
.single-store .s-s-title2 .views {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}
.user, .visit {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.single-store .s-s-title2 .views i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2f6d;
    color: #fff;
    font-size: 15px;
}
.single-store .s-s-title2 .views p{
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.single-store .s-s-title2 .views-container .v-s-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.single-store .s-s-title2 .views-container .v-s-container a {
    position: relative;
    background-color: #f8bc06;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.single-store-coupon-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.single-store-coupon-container .single-store-coupon{
    width: 70%;
    background-color: #f5f5f5;
}
.parent_wrapper {
    display: flex;
    column-gap: 30px;
    margin: 30px 0;
}
.single-store-main_wrapper {
    flex: 1;
}
.single-store-main_wrapper .cpn-img {
    flex: 0 0 auto;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #e1e1e1, 0px 0px 0px #ffffff;
}
.single-store-main_wrapper .cpn-img .web_imagebox {
    width: 100px;
    height: 90px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.single-store-main_wrapper .cpn-img .web_imagebox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}
.single-store-coupon {
    padding: 10px;
    display: flex;
    column-gap: 15px;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background: #ffffff;
    box-shadow: 5px 5px 10px #e1e1e1, 0px 0px 0px #ffffff;
    position: relative;
}
.coupon_main_details {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.cpn-body-contnet {
    display: flex;
    column-gap: 20px;
    row-gap: 15px;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
.single-store-coupon .cpn-contnet {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    flex: 1;
    align-items: center;
    padding-top: 0px;
}
.single-store-coupon .coupons-code {
    display: flex;
    column-gap: 10px;
}
.single-store-coupon  .get-code {
    height: 40px;
    width: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    display: flex;
    padding-left: 100px;
    align-items: center;
    background: #f1f1f1;
    box-shadow: inset 0px 0px 8px -2px rgb(0 0 0 / 40%);
}
.get-code:after {
    content: "";
    position: absolute;
    right: 0px;
    width: 20%;
    height: 100%;
    background: #1e2f6d;
    transition: 0.5s;
    border-left: 1px dashed #fff;
}
.single-store-coupon  .get-code button {
    height: 100%;
    width: 80%;
    border: 0;
    outline: none;
    background-color: #1e2f6d;
    color: #fff;
    font-size: 15px;
    position: absolute;
    left: 0;
    transition: 0.5s;
    border-right: 1px dashed #fff;
}
.single-store-coupon  .get-code:hover button{
    width: 70%;
}
.get-code:hover:after {
    width: 12%;
}
.single-store-coupon .coupons-code span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    background: #1e2f6d;
    padding: 3px 10px;
    border-radius: 5px;
}
.single-store-coupon  .coupons-code span i{
    padding-right: 5px;
}
.single-store-coupon h2.cpn-body-offer {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
}
.verified-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: #1e2f6d;
    background: #1e2f6d0f;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 0px;
}
.single-store-coupon  p.coupons-text{
    color: #919191;
}
.single-store-coupon  p.coupons-text a{
    color: #d11d00;
}
.single-store-coupon  p.coupons-text a:hover{
    text-decoration: underline;
}
.single-store-coupon .expired {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.single-store-coupon  .expired:after {
    position: sn;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #f1f1f1;
    content: "";
    left: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}
.single-store-coupon  .expired p {
    position: relative;
    text-decoration: none;
    right: 0;
    color: #1e2f6d;
    background-color: #ffffff;
    padding: 0 10px;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
}
.single-store-coupon  .expired p:hover{
    text-decoration: underline;
}
.single-store-coupon  .detail-expired {
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 128px;
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 3px 4px 10px 0px rgb(0 0 0 / 8%);
    overflow: hidden;
    display: none;
    z-index: 9;
}
.detail-expired-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-expired-content .p {
    display: flex;
    width: 100%;
    color: green;
    font-size: 13px;
    border-bottom: 1px dashed #f1f1f1;
}
.detail-expired-content .p p {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
}
.detail-expired-content .p span {
   border-left: 1px dashed #dbdbdb;
    padding: 10px;
}
.detail-expired-content .p:nth-child(3){
    color: #a70000;
}

.single-store_sidebar{
    flex: 0 0 300px;
}
.s-s-card{
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 30px;
}
.s-s-card .s-s-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-s-header p {
    font-size: 18px;
    font-weight: 600;
    color: #1e2f6d;
}
.s-s-header i.fas{
    color: #f8bc06;
    font-size: 20px;
}
.s-s-card .s-s-body {
    margin-top: 15px;
}
.s-s-body p{
    font-size: 13px;
    color: #979797;
}
.s-s-d-i li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.s-s-d-i li:last-of-type{
    margin-bottom: 0;
}
.s-s-d-i li:hover button{
    background-color: #1e2f6d;
    color: #fff;
}
.s-s-d-i li button {
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    transition: 0.2s;
    border-radius: 50%;
    font-size: 12px;
}
.s-s-d-i li a{
    color: #000;
}
.s-s-similarStore{
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}
.s-s-similarStore .btn{
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    transition: 0.2s;
}
.s-s-similarStore .btn:hover{
    background-color: #1e2f6d;
    color: #fff;
}
.s-s-c-t-c{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.s-s-c-t-c span{
    font-weight: 500;
}
.bg {
    background-image: url(file:///C:/Users/Techonza%20Design/Desktop/Hayyan/1st%20Web/images/Coupon-card.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 10px;
}

/*________________________________________Single categories Page CSS__________________________________________*/
.section{
    background-color: #f7f7f7;
}
.single-categories {
    background-color: #f7f7f7;
}
.single-categories .s-s-title1{
    height: 100px;
    width: 100%;
    background-color: #121e4a;
}
.single-categories .s-s-title2 {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: -70px;
}
.single-categories .title-bg {
    height: 70px;
    width: 70px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    position: absolute;
    right: -15px;
    bottom: 65px;
}
.single-categories .s-s-title2 .single-categories-content {
    margin-left: 30px;
    line-height: 30px;
    flex: 1;
}
.single-categories .s-s-title2 .single-categories-content h3 {
    font-size: 25px;
    font-weight: 600;
    color: #1e2f6d;
}
.single-categories .s-s-title2 .single-categories-content .links {
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.single-categories .s-s-title2 .single-categories-content .links .a {
    margin: 0 5px;
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.single-categories .s-s-title2 .single-categories-content .links span.a{
    color: #c1c1c1;
}
.single-categories .s-s-title2 .single-categories-content .rating{
    display: flex;
    align-items: center;
}
.single-categories .s-s-title2 .single-categories-content .rating .r-v{
    margin-left: 10px;
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.single-categories .s-s-title2 .single-categories-content i.fa-star{
    color: #c7c7c7;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.single-categories .s-s-title2 .single-categories-content i.fa-star:hover{
    color: #f8bc06;
}
.single-categories .s-s-title2 .views-container {
    flex: 0 0 auto;
}
.single-categories .s-s-title2 .views {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}
.user, .visit {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.single-categories .s-s-title2 .views i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2f6d;
    color: #fff;
    font-size: 15px;
}
.single-categories .s-s-title2 .views p{
    font-size: 15px;
    color: #1e2f6d;
    font-weight: 500;
}
.single-categories .s-s-title2 .views-container .v-s-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.single-categories .s-s-title2 .views-container .v-s-container a {
    position: relative;
    background-color: #f8bc06;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.single-categories-coupon-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.single-categories-coupon-container .single-categories-coupon{
    width: 70%;
    background-color: #f5f5f5;
}
.categories_parent_wrapper {
    display: flex;
    column-gap: 30px;
    margin: 30px 0;
    align-items: flex-start;
}
.single-categories-main_wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 30px;
}
.single-categories-main_wrapper .categories_cpn-img {
    flex: 0 0 auto;
    height: 105px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #e1e1e1, 0px 0px 0px #ffffff;
}
.single-categories-main_wrapper .categories_cpn-img .web_imagebox {
    width: 100px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.single-categories-main_wrapper .categories_cpn-img .web_imagebox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}
.single-categories-coupon {
    padding: 10px;
    display: flex;
    grid-row-gap: 15px;
    /* flex-direction: column; */
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background: #ffffff;
    box-shadow: 5px 5px 10px #e1e1e1, 0px 0px 0px #ffffff;
    position: relative;
    column-gap: 15px;
}
.coupon_main_details {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.categories_cpn-body-contnet {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
.single-categories-coupon .cpn-contnet {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
    flex: 1;
    padding-top: 0px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}
.single-categories-coupon .get-code {
    height: 35px;
    /* width: 150px; */
    width: 60%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    display: flex;
    padding-left: 100px;
    margin-left: auto;
    align-items: center;
    background: #f1f1f1;
    box-shadow: inset 0px 0px 8px -2px rgb(0 0 0 / 40%);
}
.get-code:after {
    content: "";
    position: absolute;
    right: 0px;
    width: 20%;
    height: 100%;
    background: #1e2f6d;
    transition: 0.5s;
    border-left: 1px dashed #fff;
}
.single-categories-coupon .get-code button {
    height: 100%;
    width: 80%;
    border: 0;
    outline: none;
    background-color: #1e2f6d;
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 0;
    transition: 0.5s;
    border-right: 1px dashed #fff;
}
.single-categories-coupon  .get-code:hover button{
    width: 70%;
}
.get-code:hover:after {
    width: 12%;
}
.single-categories-coupon .coupons-code span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    background: #1e2f6d;
    padding: 3px 10px;
    border-radius: 5px;
}
.single-categories-coupon  .coupons-code span i{
    padding-right: 5px;
}
.single-categories-coupon h2.cpn-body-offer {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
}
.categories_verified_badge {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: #1e2f6d;
    background: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 0px;
}
.single-categories-coupon  p.coupons-text{
    color: #919191;
}
.single-categories-coupon  p.coupons-text a{
    color: #d11d00;
}
.single-categories-coupon  p.coupons-text a:hover{
    text-decoration: underline;
}
.single-categories-coupon .categories_expired {
    display: none;
}
.single-categories-coupon  .categories_expired:after {
    position: sn;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #f1f1f1;
    content: "";
    left: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}
.single-categories-coupon  .categories_expired p {
    position: relative;
    text-decoration: none;
    right: 0;
    color: #1e2f6d;
    background-color: #ffffff;
    padding: 0 10px;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
}
.single-categories-coupon .categories_expired p:hover{
    text-decoration: underline;
}
.categories_detail-expired{
    display: block;

}
.categories_detail-expired-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
}
.categories_detail-expired-content .p {
    display: flex;
    color: green;
    font-size: 13px;
    column-gap: 5px;
}
.categories_detail-expired-content .p p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories_detail-expired-content .p:nth-child(2){
    color: #a70000;
    font-weight: 500;
}

.single-categories_sidebar {
    flex: 0 0 250px;
}
.s-s-card{
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 30px;
}
.s-s-card .s-s-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-s-header p {
    font-size: 18px;
    font-weight: 600;
    color: #1e2f6d;
}
.s-s-header i.fas{
    color: #f8bc06;
    font-size: 20px;
}
.s-s-card .s-s-body {
    margin-top: 15px;
}
.s-s-body p{
    font-size: 13px;
    color: #979797;
}
.s-s-d-i li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.s-s-d-i li:last-of-type{
    margin-bottom: 0;
}
.s-s-d-i li:hover button{
    background-color: #1e2f6d;
    color: #fff;
}
.s-s-d-i li button {
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    transition: 0.2s;
    border-radius: 50%;
    font-size: 12px;
}
.s-s-d-i li a{
    color: #000;
}
.s-s-similarcategories{
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}
.s-s-similarcategories .btn{
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    transition: 0.2s;
}
.s-s-similarcategories .btn:hover{
    background-color: #1e2f6d;
    color: #fff;
}
.s-s-c-t-c{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.s-s-c-t-c span{
    font-weight: 500;
}
.bg {
    background-image: url(file:///C:/Users/Techonza%20Design/Desktop/Hayyan/1st%20Web/images/Coupon-card.jpg);
    /* width: 21%; */
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 120px; */
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 10px;
}

/*________________________________________ABOUT CSS__________________________________________*/
.about_heading{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.about_heading h3 {
    font-size: 28px;
    background: #f7f7f7;
    padding: 0 20px 0 0;
    z-index: 1;
    color: #1e2f6d;
    font-weight: 600;
}
.about_heading .line{
    height: 2px;
    width: 100%;
    background: #1e2f6d;
    position: absolute;
}
.header_about_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e7e7e7;
}
.header_about_items li {
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: -2px;
}
.header_about_items li.active{
    border-bottom: 2px solid #1e2f6d;
}
.header_about_items li.active a{
    color: #1e2f6d;
}
.header_about_items li:before{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    top: 100%;
    background: #1e2f6d;
    transition: 0.2s ease;
}
.header_about_items li:hover:before{
    width: 100%;
}
.header_about_items li a{
    color: #9d9d9d;
    font-weight: 500;
    transition: 0.2s ease;
}
.header_about_items li:hover a{
    color: #1e2f6d;
}
.body_about{
    display: flex;
    padding: 40px 0 20px 0;
    column-gap: 50px;
}
.body_content_about{
    flex: 1;
}
.body_content_about {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.body_content_about h3 {
    font-size: 25px;
    color: #1e2f6d;
    font-weight: 600;
    text-transform: capitalize;
}
.body_content_about p {
    font-size: 15px;
    color: #878787;
}
.social_about{
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.solcial_icon_items {
    height: 40px;
    width: 40px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}
.solcial_icon_items:nth-child(1){
    background: #1877f2;
    color: #fff;
}
.solcial_icon_items:nth-child(1):hover{
    background: #3b8ffd;
    color: #fff;
}
.solcial_icon_items:nth-child(2){
    background: #d44d40;
    color: #fff;
}
.solcial_icon_items:nth-child(2):hover{
    background: #ed4636;
    color: #fff;
}
.solcial_icon_items:nth-child(3){
    background: #b7081b;
    color: #fff;
}
.solcial_icon_items:nth-child(3):hover{
    background: #df0b22;
    color: #fff;
}
.solcial_icon_items:nth-child(4){
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #fff;
}
.solcial_icon_items:nth-child(4):hover {
    background:  rgba(253,29,29,1);
}
.solcial_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-gap: 15px;
    height: 150px;
    padding: 20px;
    width: 300px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 35%);
}
.solcial_icon p {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #1e2f6d;
    border-bottom: 2px solid #1e2f6d;
    padding-bottom: 10px;
}
.solcial_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
.two{
    display: none;
}







.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #e7e7e7;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.model_title_img{
    height: 100px;
    width: 100px;
}
.model_title_img .web_imagebox{
    width: 100%;
    height: 100%;
}
a.visit_store{
    color: #1e2f6d;
    font-size: 20px;
    font-weight: 600;
}
.modal_title_content p{
    color: #a1a1a1;
    font-size: 15px;
}
.copy_code_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.c_code{
    color: #a1a1a1;
}
.discription{
    color: #1e2f6d;
    font-size: 15px;
}
.copy_code {
    display: flex;
    width: 200px;
    justify-content: space-between;
    border: 1px solid #c5c1c1;
    padding: 8px 15px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.copy_btn {
    /* padding: 10px; */
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3e3e3;
}
.modal-body {
    position: relative;
    padding: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.modal-body span {
    color: #747474;
    font-size: 14px;
}
.site_visit a {
    color: #ffffff;
    background: #1e2f6d;
    padding: 6px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    text-transform: capitalize;
}
.site_visit {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}
.site_visit p {
    color: #a30000;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
    font-size: 13px;
}
.modal-body i.far.fa-clone {
    color: #898989;
}
.modal-footer {Z
    background: #e7e7e7;
}
.modal-footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: #525252;
}
.modal-footer a {
    color: #1e2f6d;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.modal-footer i{
    font-size: 10px;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
}
    
/*________________________________________contact CSS__________________________________________*/
.contact{
    padding: 30px 0;
}
.contact_container {
    display: flex;
    justify-content: center;
    height: 465px;
   grid-gap: 30px;
}
.contact_social{
    flex: 0 0 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   grid-gap: 30px;
}
.contact_social_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #eee;
    width: 100%;
    row-gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(34 34 34 / 34%);
}
.contact_items_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-row-gap: 5px;
}
.contact_social_items i{
    font-size: 30px ;
    color: #1e2f6d;
}
.contact_items_title{
    color: #1e2f6d;
    font-size: 20px;
    font-weight: 600;
}
.contact_items_text{
    font-size: 14px;
    color: #a1a1a1;
}
.contact_field {
    flex: 1;
    background: #eee;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    grid-row-gap: 20px;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(34 34 34 / 34%);
}
.contact_heading{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.contact_heading h3{
    color: #1e2f6d;
    font-size: 28px;
    font-weight: 600;
}
.fields{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 20px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.inputs input {
    flex: 1;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid #1e2f6d;
    border-radius: 5px;
}
.fields textarea {
    flex: 1;
    padding: 10px 15px 80px 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid #1e2f6d;
    resize: none;
    border-radius: 5px;
}

input[type='submit']{
    width: 20%;
    height: 35px;
    margin-left: auto;
    background: #1e2f6d;
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 5px;
}
.items{
    word-break: break-all;
}