* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

section {
    padding: 30px 0px;
    background: #fff;
}

.bg_color {
    background: #b7c5d74f;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    list-style: none;
    margin: 0px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #fff;
}

.webkit_box {
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.web_imagebox {
    display: block;
    min-height: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.web_imagebox img {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}


/*////////////////////   SECTION HEADING   ////////////////////////*/

.heading {
    color: #000;
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    position: relative;
    margin-bottom: 30px;
}

/*////////////////////   swiper   ////////////////////////*/
.arrows {
    height: 40px !important;
    background: #264d55;
    width: 40px !important;
    transition: 0.3s ease;
    border-radius: 50%;
}

.arrows:after {
    color: #fff;
    font-size: 18px !important;
    font-weight: 300;
}


.swiper-button-next {
    right: 15px !important;
}

.swiper-button-prev {
    left: 15px !important;
}

/*----------swiper bullet----------*/
.swiper-pagination {
    bottom: 70px !important;
}

.swiper-pagination-bullet {
    border-radius: 30px !important;
    transition: 0.5s ease;
    opacity: 1 !important;
    background: #fff9 !important;
}

.swiper-pagination-bullet-active {
    background: #57b252 !important;
    width: 15px !important;
    font-size: 15px;
}

body.active:before {
    content: '';
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background: #00000054;
}

body.active {
    height: 100vh;
    overflow-y: hidden;
    transition: 0.5s ease;
    width: 100%;
}

/*////////////////////   CUSTOM SCROLL BAR   ////////////////////////*/


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;

}

::-webkit-scrollbar-thumb {
    background: #264d55;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #264d55;
}

/*////////////////////   selection   ////////////////////////*/

::selection {
    background: #57b252;
    color: #fff;
}

/*////////////////////   Background   ////////////////////////*/
.bg_blend {
    background-blend-mode: multiply;
    background-color: #0004;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* header */
header {
    z-index: 99;
    box-shadow: 0 0 10px #0002;
}

header section {
    padding: 10px 0;
}

.top_header {
    background-color: #57b252;
    padding: 0;
}

.top_hdr_container {
    display: flex;
    grid-gap: 20px;
}

.search_form {
    background: #fff;
    box-shadow: 0 0 5px #0001;
    align-items: center;
    height: 40px;
    display: flex;
    border-radius: 5px;
    padding-left: 10px;
    grid-gap: 10px;
    max-width: 600px;
    width: 100%;
    position: relative;
    margin: 5px 0;
}

.search_result {
    width: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 9;
    background: #f1f5ff;
    display: none;
    border-radius: 5px;
    overflow: hidden;
}

.search_result h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding: 10px 0 10px 10px;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 8px 5px -5px #0001;
}

.search_str_info {
    flex: 1;
    background: #b9fab5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    grid-gap: 5px;
}

.search_str_info .web_imagebox {
    height: 100px;
    width: 100px;
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.search_str_info .web_imagebox img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
}



.search_str_info h2 {
    font-size: 23px;
    font-weight: 700;
    color: #000;
    padding-top: 10px;
    text-transform: capitalize;
}

.search_str_info p {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    -webkit-line-clamp: 4;
    color: #000000c4;
}

.srch_info_btn {
    padding: 6px 20px;
    color: #fff;
    background: #264d55;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 500;
}

.main_search {
    display: flex;
    grid-gap: 10px;
}

.search_result_ul {
    flex-direction: column;
    display: flex;
    grid-gap: 10px;
    list-style: none;
    max-height: 250px;
    padding: 10px;
    overflow-X: auto;
    flex: 1;
}

.search_result_item {
    background: #f2f6ff;
    display: flex;
    padding: 5px 10px;
    grid-gap: 10px;
    box-shadow: inset 0 0 5px #0001;
    border-radius: 5px;
    color: #000;
    transition: 0.2s ease;
    text-transform: capitalize;
}

.search_result_item:hover,
.search_result_item:focus {
    color: #000;
}

.search_result_item:hover {
    background: blue;
    color: #fff;
}

.search_result_ul a {
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    grid-gap: 10px;
    transition: 0.3s ease;
    box-shadow: 0 0 5px #0001;
}

.search_result_ul a .web_imagebox {
    width: 50px;
    flex: 0 0 50px;
    height: auto;
    margin-bottom: 0;
    border: none;
}

.store-name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}

.store-info {
    color: #686868ab;
    font-size: 14px;
    margin-top: auto;
    font-weight: 500;
}

.str-abt {
    display: none;
}

.search_form svg {
    height: 20px;
    width: 20px;
    stroke: #264d55;
    stroke-width: 3px;
}

.search_form input {
    align-self: stretch;
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
}

.search_form .search_btn {
    align-self: stretch;
    padding: 8px 20px;
    outline: none;
    border: none;
    background: #264d55;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    border-radius: 0 4px 4px 0;
}

.discount_container {
    display: inline-flex;
    grid-gap: 5px;
    flex: 0 0 auto;
    margin-left: auto;
}

.discount_btn {
    font-size: 14px;
    color: #fff;
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
    transition: 0.2s ease;
}

.discount_btn:hover,
.discount_btn.active {
    background: #264d55;
    color: #fff;
}

.center_header {
    padding: 0;
}

.cntr_hdr_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
}

.logo_container {
    height: 70px;
    flex: 0 0 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo_container img {
    max-width: 90%;
    max-height: 90%;
}

.menu {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.menu li {
    flex: 0 0 auto;
    position: relative;
}

.menu li:before {
    content: '';
    position: absolute;
    height: 0%;
    bottom: 0;
    transition: height 0.3s ease;
    border-radius: 4px;
    left: 0;
    width: 100%;
    background: #57b252;
}

.menu li:where(:hover, .active):before {
    height: 100%;
}

.menu li:where(:hover, .active) a {
    color: #fff;
}

.menu_item {
    padding: 6px 20px;
    position: relative;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 15px;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    display: block;
}

.menu_toggler {
    position: relative;
    width: 40px;
    height: 40px;
    background: #57b252;
    border-radius: 4px;
    z-index: 99;
    display: none;
    grid-gap: 6px;
    padding: 8px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.menu_toggler span {
    height: 3px;
    width: 100%;
    border-radius: 4px;
    transition: 0.5s ease;
    background: #fff;
    transition: 0.5s;
}

.menu_toggler span:nth-child(1) {
    width: 90%;
}

.menu_toggler span:nth-child(2) {
    width: 100%;
    left: 8px;
}

.menu_toggler span:nth-child(3) {
    width: 80%;
}

.menu_toggler.active span {
    position: absolute;
}

.menu_toggler.active span:nth-child(1) {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

.menu_toggler.active span:nth-child(2) {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.menu_toggler.active span:nth-child(3) {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

/* banner */
.mySwiper_1 {
    position: relative;
    padding-bottom: 60px !important;
}

.mySwiper_1 .container {
    justify-content: center;
    max-width: 90%;
    min-height: 350px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.mySwiper_1 .swiper-slide {
    background-color: #0007;
}

.swiper_container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.bnr_btn {
    padding: 6px 12px;
    background: #57b252;
    border-radius: 4px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.bnr_title {
    font-size: 20px;
    font-weight: 600;
}

.bnr_text {
    opacity: 0.9;
    font-size: 15px;
}

.mySwiper_1 :where(.swiper-slide-prev, .swiper-slide-next) .swiper_container {
    opacity: 0.5;
}

.mySwiper_1 :where(.swiper-slide-prev, .swiper-slide-next) {
    background-color: #000000a9 !important;
    background-blend-mode: darken;
    transition: 0.5s ease;
}

.swiper_btn {
    display: inline-flex;
    background: #264d55;
    align-items: center;
    width: 100px;
    z-index: 99;
    border-radius: 4px;
    position: absolute;
    padding: 5px 0;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: flex-end;
}

.bnr_slider_btn {
    height: 25px !important;
    width: 35px !important;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
    margin-top: 0 !important;
    position: relative !important;
    inset: 0 !important;
}

.bnr_slider_btn:not(:last-of-type) {
    border-right: 1px solid #ffffff5e;
}

.bnr_slider_btn svg {
    fill: #ffffff;
}

.bnr_slider_btn:after {
    content: '' !important;
}

/* store */
.top_str_container {
    margin-bottom: 30px;
    padding: 5px 5px 15px 5px !important;
}

.view_all {
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    background: #57b2522b;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 4px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0.6px #57b252;
    color: #57b252;
}

.view_all:hover {
    box-shadow: 0 0 2px 3px #57b25282;
    background: #57b252;
    color: #fff;
}

.top_str_item {
    border-radius: 5px;
    box-shadow: 0 0 5px #0001;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease;
    border-top: 2px solid transparent;
    position: relative;
    background: #fff;
    grid-gap: 10px;
    padding: 10px;
}

.top_str_item.active {
    border-color: #264d55;
}

.top_str_item.active:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.top_str_item .web_imagebox {
    height: 60px;
    width: 80px;
    border-radius: 5px;
    background: #fff;
}

.top_str_item .web_imagebox img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
}

.str_title {
    color: #000;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}

.home_cpn_container {
    display: flex;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.home_cpn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 25px;
    width: 100%;
}

.home_cpn_item {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-gap: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #0001;
    padding: 15px;
}

.home_cpn_item #wave {
    position: absolute;
    width: 100%;
    opacity: 0.8;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    left: 0;
    z-index: 1;
}

.home_cpn_item :where(.home_cpn_header, .home_cpn_body, .home_cpn_footer) {
    position: relative;
    z-index: 2;
}

.home_cpn_header {
    display: flex;
    grid-gap: 15px;
    padding-right: 35px;
}

.home_cpn_header .web_imagebox {
    min-height: 70px;
    width: 70px;
    background: white;
    box-shadow: 0 0 5px 1px #0002;
    flex: 0 0 70px;
    align-self: stretch;
    border-radius: 5px;
}

.home_cpn_header .web_imagebox img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
}

.home_cpn_header h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
    color: #000;
}

.home_cpn_body p {
    font-size: 14.5px;
    line-height: 1.5;
    color: #000;
    -webkit-line-clamp: 2;
}

.home_cpn_footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    grid-gap: 10px;
}

.badge {
    background: transparent;
    padding: 0;
    color: gray;
    font-weight: 600;
    display: flex;
    text-transform: capitalize;
    border-radius: 5px;
    align-items: center;
    grid-gap: 5px;
    font-size: 12.5px;
}

.badge svg {
    height: 16px;
    width: 16px;
    stroke: gray;
    stroke-width: 2px;
}

.badge.expire {
    color: #f44336;
}

.badge.expire svg {
    stroke: #f44336;
}

.badge.verified {
    background: #4caf50;
    position: absolute;
    right: 10px;
    top: -10px;
    height: 40px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.badge.verified:before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    background: #4caf50;
    top: calc(100% - 11px);
    left: calc(0px + 4px);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    transform: rotate(45deg);
    border-radius: 0 0 5px 0;
}

.badge.verified svg {
    height: 20px;
    width: 20px;
    stroke: #fff;
}

.coupon_get_code {
    height: 40px;
    width: 180px;
    margin-left: auto;
    border-radius: 5px;
    text-transform: capitalize;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    box-shadow: 0 2px 5px #0001;
}

.coupon_get_code .code_num {
    position: absolute;
    display: flex;
    align-items: center;
    background: #fbfbfb;
    justify-content: flex-end;
    padding-right: 10px;
    height: 100%;
    border: 2px dashed #264d55;
    line-height: 1;
    width: 100%;
}

.coupon_get_code a {
    height: 100%;
    background: #264d55;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
    align-items: center;
}

.coupon_get_code:not(.deal) a:after {
    content: '';
    position: absolute;
    right: 0;
    width: 27px;
    height: 100%;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background-color: #47838f;
    top: 0;
}

.coupon_get_code:not(.deal) a {
    width: calc(100% - 40px);
}

.coupon_get_code:not(.deal):hover a {
    width: calc(100% - 50px);
}

.coupon_get_code.deal a {
    background: #005883;
    color: #fff;
}

/* categories */
.top_cat_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 30px;
}

.top_cat_item {
    display: flex;
    flex-direction: column;
}

.top_cat_bg {
    border-radius: 10px;
    width: auto;
    display: flex;
    height: 100px;
    flex: 0 0 100px;
    z-index: 3;
    margin: 0 13px 0 8px;
    overflow: hidden;
    margin-bottom: -3px;
    border: 4px solid #264d55;
}

.top_cat_content {
    background: #eee7ff;
    flex: 1;
    width: 100%;
    box-shadow: 0px 0px 5px #bcbec5;
    padding: 10px;
    color: #000;
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.top_cat_content:before,
.top_cat_content:after {
    content: "";
    background: #eee7ff;
    height: 30px;
    position: absolute;
    bottom: calc(100% - 10px);
}

.top_cat_content:before {
    left: 0px;
    height: 20px;
    box-shadow: 0px -5px 5px -2px #bcbec5;
    width: 30px;
    border-top-left-radius: 10px;
}

.top_cat_content:after {
    right: 0px;
    width: 15px;
    box-shadow: 2px -3px 5px -2px #bcbec5;
    height: 60px;
    border-radius: 6px 20px 0 0;
}

.top_cat_title {
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.top_cat_ofer {
    font-size: 13px;
    opacity: 0.8;
}

/* how to use */
.how_to_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
}

.how_to_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-gap: 10px;
    position: relative;
}

.icon_box {
    display: flex;
    height: 50px;
    width: 50px;
    background: #57b252;
    border-radius: 50%;
    padding: 7px;
    align-items: center;
    justify-content: center;
}

.icon_box svg {
    stroke: #fff;
    stroke-width: 1.5;
}

.how_to_item h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
}

.how_to_item p {
    font-size: 15px;
    font-weight: 500;
    color: #0009;
}

.how_to_item:before {
    content: '';
    position: absolute;
    width: calc(100% - 90px);
    left: 70px;
    top: 25px;
    border: 1px dashed #dadada;
}

.how_to_item:after {
    content: '\f105 ';
    position: absolute;
    font-size: 25px;
    color: #57b252;
    font-family: 'FontAwesome';
    right: 0;
    top: 8px;
}

/* footer */
/* footer */
.footer {
    background: #12141a;
    padding-bottom: 20px;
}

.footer hr {
    border-color: #fff2;
}

.fotr_container {}

.ftr_tops {
    /*
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));*/
}

.popular_posts {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.post_box {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.post_box svg {
    height: 50px;
    width: 50px;
    background: #222530;
    border-radius: 5px;
    padding: 10px;
    stroke: #ffffff;
    flex: 0 0 50px;
}

.stats_number {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}

.post_box_content p {
    font-size: 13px;
    padding-top: 6px;
    color: #ffffffdb;
}

.ftr_heading {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 20px;
}

.ftr_links_wrpr {
    list-style: none;
    display: flex;
    max-height: 180px;
    overflow: auto;
    align-items: flex-start;
    grid-gap: 20px;
    flex-direction: column;
}

.ftr_links_wrpr li {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.ftr_links_wrpr a {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.2s ease;
    letter-spacing: 0.5px;
}

.ftr_links_wrpr a svg {
    height: 16px;
    transition: 0.2s ease;
    width: 16px;
    stroke: #fff;
}

.ftr_links_wrpr a:hover,
.ftr_links_wrpr a:hover svg {
    color: #ef2330;
    stroke: #ef2330;
}

.top_offers a {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 5px;
}

.top_offers .offers {
    font-size: 13px;
    color: #fff9;
}

.top_offers .name {
    font-size: 15px;
}

.ftr_center {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.ftr_logo {
    justify-content: flex-start;
    filter: invert(0.5);
    height: 80px;
    flex: 0 0 240px;
    width: 240px;
}


.ftr_profile {
    flex: 1;
    display: flex;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    background: #222530;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-top: -30px;
    box-shadow: 0 5px 9px -4px #0005;
    flex-wrap: wrap;
}

.ftr_dis {
    font-size: 14px;
    color: #c9c9c9;
    min-width: 300px;
    line-height: 1.5;
    flex: 1;
}

.subs_container {
    background: #222530;
    border-radius: 5px;
    padding: 15px;
    align-self: flex-start;
    box-shadow: 0 0 10px #0005;
}

.dis_text {
    font-size: 13px;
    color: #fff9;
    line-height: 1.5;
    padding-bottom: 10px;
}

.subs_area {
    display: flex;
    height: 35px;
    overflow: hidden;
    border-radius: 3px;
}

.subs_area input {
    max-width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #fff2;
    flex: 1;
    color: #fff9;
    min-width: 10px;
    border-right: 0;
    padding: 0 10px;
    background: #222530;
    outline: none;
}

.subs_area input:focus {
    border-color: #57b252;
}

.subs_area button {
    border: 0;
    outline: 0;
    background: #57b252;
    flex: 0 0 auto;
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

.nav_links {
    display: flex;
    /*grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));*/
    margin-top: 30px;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.nav_links :where(div) {
    flex: 1 1 240px;
}

.ftr_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.ftr_bottom p {
    font-size: 13px;
    text-transform: capitalize;
    color: #fff9;
}

.ftr_bottom p a {
    font-weight: 500;
    text-decoration: underline !important;
}

/* contact */
.contact_form form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    grid-gap: 10px;
    margin-left: auto;
    width: calc(100% - 400px);
}

.input {
    display: flex;
    grid-gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.input input,
form textarea {
    outline: none;
    border: 0;
}

.input input {
    height: 40px;
    width: 100%;
    border: 1px solid #0001;
    padding: 8px 15px;
    box-shadow: 0 0 5px #00000009;
    border-radius: 5px;
    flex: 1 1 200px;
}

.input input::placeholder {
    text-transform: capitalize;
}

form textarea {
    border: 1px solid #0001;
    height: 150px;
    width: 100%;
    box-shadow: none;
    box-shadow: 0 0 5px #00000009;
    padding: 8px 15px;
    flex: 1;
    border-radius: 5px;
    resize: none;
}

.send_btn {
    display: block;
    line-height: 40px;
    padding: 0 37px;
    position: relative;
    outline: none;
    border-radius: 4px;
    z-index: 1;
    border: 0;
    background: #57b252;
    color: #fff;
    transition: .2s ease;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}

.send_btn:hover {
    background: #2a852f;
}

.contact_container {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    grid-gap: 10px;
    background: #fff;
    box-shadow: 0 0 10px #0001;
}

.contact_sidebar {
    flex: 0 0 320px;
    background: #264d55;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    justify-content: center;
    padding: 15px;
}

.contact_side_item {
    background: #346b76;
    display: flex;
    flex: 1;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    grid-gap: 10px;
}

.contact_side_item svg {
    height: 50px;
    flex: 0 0 50px;
    width: 50px;
    border-radius: 50%;
    background: #264d55;
    padding: 10px;
    stroke: #fff;
    stroke-width: 1.5px;
}

.contact_info_content {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    text-transform: capitalize;
    color: #fff;
}

.contact_info_content p {
    font-size: 14px;
}

.contact_info_content h3 {
    font-size: 20px;
    font-weight: 700;
}

.contact_main {
    width: 100%;
    flex: 1;
    padding: 20px 20px 20px 10px;
}

.contact_main form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
    flex: 1;
    height: 100%;
}

.faq_container {
    background-size: 40%;
    background-position: center right;
}

.contact_tabs {
    max-width: 60%;
}

.tab-pane h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.tab-pane p {
    color: #000a;
    font-weight: 500;
    font-size: 14px;
}

.nav-tabs li a {
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    background: #57b252;
    color: #fff;
    border-color: #57b252;
}

.tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0;
}

.tab-content>.tab-pane {
    font-size: 15px;
    color: #000;
}

/* store */
.btnContainer {
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
}

.btnContainer .btns {
    padding: 5px 13px;
    flex: 0 0 auto;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.2s;
}

.btnContainer .btns:hover,
.btnContainer .btns.active {
    background: #57b252;
    color: #fff;
}

.store_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    align-items: flex-start;
    margin-top: 20px;
}

.str_item {
    box-shadow: 0 0 5px #0001;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.str_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0001;
}

.str_head a {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: #000;
    background: #264d550f;
    align-self: center;
    padding: 10px;
}

.str_head svg {
    width: 45px;
    border-left: 1px solid #264d55;
    flex: 0 0 45px;
    transition: 0.2s ease;
    background: #264d55;
    padding: 10px;
    stroke: #fff;
    cursor: pointer;
}

.str_body {
    max-height: 200px;
    overflow-y: auto;
}

.str_sub_item {
    padding: 10px;
    border-bottom: 1px solid #0001;
    font-size: 15px;
    transition: 0.2s ease;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.str_sub_item:last-of-type {
    border: none;
}

.str_sub_item:hover,
.str_sub_item:focus {
    background: #264d55;
}

/* categories */
.categories .search_form {
    max-width: 100%;
}

:is(.categories, .store) .heading {
    margin-bottom: 15px;
}

/* single store */
.sngl_str_container {
    display: flex;
    align-items: flex-start;
    grid-gap: 40px;
}

.single_str_sidebar {
    background: #fff;
    /* padding: 15px; */
    border-radius: 5px;
    box-shadow: 0 0 5px #0001;
    flex: 0 0 300px;
    /* grid-gap: 15px; */
    display: flex;
    flex-direction: column;
}

.sidebar_item {
    padding: 15px;
}

.sidebar_item:not(:last-of-type) {
    border-bottom: 2px dashed #00000020;
    padding-bottom: 15px;
}

.sidebar_item h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
}

.str_abt {
    font-size: 14px;
    color: #000;
    -webkit-line-clamp: 8;
    line-height: 1.5;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    text-transform: capitalize;
    color: #828282;
}

.filter li:last-of-type {
    padding-bottom: 0;
    border: none;
}

.filter li:first-of-type {
    padding-top: 0;
}

.filter li label {
    flex: 1;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    color: #000;
    font-size: 14px;
}

.filter li .checkBoxLabel:after,
.filter li .checkBoxLabel:before {
    content: '';
    position: absolute;
    transition: 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}

.filter li .checkBoxLabel:after {
    height: 3px;
    width: 30px;
    right: 0;
    background: #bebebe;
    border-radius: 30px;
}

.filter li .checkBoxLabel:before {
    z-index: 1;
    height: 18px;
    width: 18px;
    right: 15px;
    background: lightgray;
    border-radius: 50%;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]:checked~.checkBoxLabel:before {
    background: #57b252;
    right: 0;
}

input[type="checkbox"]:checked~.checkBoxLabel:after {
    background: #57b252;
    opacity: 0.3;

}

.radioLabel:before {
    content: '';
    position: absolute;
    background: #d3d3d3;
    height: 20px;
    width: 20px;
    right: 0;
    color: #fff;
    display: flex;
    transition: 0.3s ease;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}

input[type="radio"]:checked~.radioLabel:before {
    content: '✔';
    background: #57b252;
}

.side_str {
    overflow-y: auto;
    max-height: 250px;
}

.side_str_item {
    display: flex;
    align-items: center;
    color: #000;
    grid-gap: 10px;
    padding: 10px 0;
}

.side_str_item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.side_str_img {
    height: 60px;
    width: 60px;
    flex: 0 0 60px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
}

.side_str_img .web_imagebox {
    height: 100%;
    width: 100%;
}

.side_str_img .web_imagebox img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5p x;
}

.side_str_name,
.side_cat_name {
    font-size: 15px;
    color: #000;
    padding-bottom: 5px;
    font-weight: 600;
    text-transform: capitalize;
}

.side_str_offer,
.side_cat_offer {
    font-size: 13px;
    font-weight: 500;
    color: #434343;
    text-transform: capitalize;
}

.str_side_cat {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    flex-wrap: wrap;
}


.str_side_cat_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transition: 0.2s ease;
    justify-content: center;
    text-align: center;
    grid-gap: 3px;
    border-radius: 4px;
    border: 1px dashed #0004;
    padding: 10px;
}

.str_side_cat_item:hover {
    border-radius: 0;
    background: #0001;
}

.str_side_cat_item svg {
    height: 35px;
    width: 35px;
    stroke: #264d55;
}

.rate_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.rating_emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.rating_emoji svg {
    stroke-width: 1px;
    height: 60px;
    width: 60px;
    stroke: #264d55;
}

.rating_emoji svg:not(.active) {
    display: none;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 5px;
}

.stars svg {
    height: 30px;
    width: 30px;
    stroke: #264d55;
    stroke-width: 1px;
}

.stars a.active svg {
    stroke: #264d55;
    fill: #264d55;
}

.rating_dis {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding-left: 10px;
}

.rate_container .subs_area input {
    background: transparent;
    border-color: #0002;
}

.rate_container .subs_area button {
    background: #264d55;
}

.single_str_main {
    flex: 1;
    display: grid;
    width: 100%;
    grid-gap: 20px;
}

.str_pop_slider {
    width: 100%;
}

.str_pop_slider a {
    background: #fff;
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #0001;
    color: #000;
    text-align: center;
}

.str_pop_slider a .web_imagebox {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px #0002;
    margin: 0 auto;
    margin-bottom: 5px;
}

.str_pop_slider a .web_imagebox img {
    max-height: 80%;
    max-width: 80%;
    border-radius: 50px;
}

.str_panel_container {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.single_str_panel {
    background: #004364;
}

.str_panel_profile {
    height: 80px;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    width: 80px;
    flex: 0 0 80px;
    box-shadow: 0 0 5px #0002;
    background: #fff;
}

.str_panel_profile .web_imagebox {
    height: 100%;
    border-radius: 5px;
    width: 100%;
}

.str_panel_profile .web_imagebox img {
    max-height: 100%;
    max-width: 100%;
}

.breadcrumb_container {
    background: #fff !important;
    padding: 10px 0;
}

.breadcrumb_container .store_breadcrumbs {
    background: #00d17e1f;
    padding: 10px;
    border-radius: 10px;
}

.store_breadcrumbs {
    display: flex;
    grid-gap: 7px;
    text-transform: capitalize;
    align-items: center;
    list-style: none;
}

.store_breadcrumbs a {
    font-size: 14px;
    font-weight: 600;
    color: #264d55;
}

.store_breadcrumbs i {}

.store_breadcrumbs a.active,
.store_breadcrumbs a.active i {
    color: #57b252;
    cursor: default;
}

.store_breadcrumbs i {
    font-size: 15px;
    padding-right: 5px;
    font-weight: 600;
    color: #264d55;
}

.str_panel_content {
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}

.str_panel_heading {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    line-height: 1;
    text-transform: capitalize;
}

/* single categoris */
.single_cat {
    flex-direction: row-reverse;
}

.cat_panel_container {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #0001;
}

.expired_coupon_container {
    padding-top: 15px;
    text-transform: capitalize;
    width: 100%;
    border-top: 1px solid #0001;
}

.expired_coupon_heading {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.expired_coupon_container p {
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
}

.exp_cpn {
    filter: grayscale(1);
}

/* about */
.about_container {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #0001;
}

.about_nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    border-bottom: 1px dashed #0002;
}

.abt_nav_item {
    color: #000;
    padding: 10px 15px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    flex: 0 0 auto;
}

.abt_nav_item:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background: #264d55;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.abt_nav_item:hover:before {
    width: 100%;
}

.abt_nav_item:hover {
    color: #000;
}

.about_main {
    display: flex;
    align-items: flex-start;
    grid-gap: 30px;
}

.abt_content {
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    flex: 1;
}

.abt_content p {
    color: #000;
    line-height: 1.5;
}

.abt_sidebar {
    flex: 0 0 300px;
}

.abt_sidebar_item {
    box-shadow: 0 0 5px #0002;
    background: #264d550d;
    border-radius: 5px;
    margin: 15px 15px 15px 0;
    border: 1px solid #0001;
}
.abt_sidebar_item:last-of-type{
    border-bottom: 0;
}
.abt_subs{
    padding: 10px;
}
.abt_subs .subs_area input{
    background: #fff;
    border-color: #0002;
}
.abt_sidebar_item h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px;
    border-bottom: 1px solid #0003;
    text-transform: capitalize;
}

.abt_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.abt_social_item {
    padding: 10px;
    border-bottom: 1px solid #0001;
    flex: 1;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.abt_social_item:hover{
    color: #fff;
    transition: 0.3s ease;
}
.abt_social_item svg {
    transition: 0.3s ease;
    height: 25px;
    width: 25px;
}

.abt_social_item:hover svg{
    stroke: #fff;
} 
.icon-tabler.icon-tabler-brand-facebook {
    stroke: #0089ff;
}

.icon-tabler.icon-tabler-brand-twitter {
    stroke: #7abbff;
}

.icon-tabler.icon-tabler-brand-linkedin {
    stroke: #0e4fe3;
}

.icon-tabler.icon-tabler-brand-instagram {
    stroke: #ff3b00;
}

.icon-tabler.icon-tabler-brand-pinterest {
    stroke: #ff1616;
}
.abt_social_item.facebook:hover {
    background: #0089ff;
}

.abt_social_item.linkedin:hover {
    background: #0e4fe3;
}

.abt_social_item.instagram:hover {
    background: #ff3b00;
}

.abt_social_item.pinterest:hover {
    background: #ff1616;
}

.abt_social_item.twitter:hover {
    background: #7abbff;
}
/* modal */
.modal_container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}
.modal-content{
    border: none;
}

.modal_profile {
    flex: 0 0 200px;
    background: #f0f2ff;
    display: flex;
    align-self: stretch;
    padding-top: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    grid-gap: 15px;
}
.modal_profile .web_imagebox {
    height: 80px;
    flex: 0 0 80px;
    width: 80px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #0002;
}

.modal_profile .web_imagebox img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
}

.modal_profile_content h4 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    line-height: 1.5;
}

.modal_content {
    flex: 1;
    padding: 15px;
    background: white;
    display: flex;
    min-width: 370px;
    flex-direction: column;
    grid-gap: 15px;
    box-shadow: inset 4px 0 5px -3px #0004;
}

.modal_footer {
    flex: 0 0 100%;
    background: #264d55;
    padding: 10px;
    width: 100%;
}
.modal_content h3 {
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
}

.extra_terms {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.extra_terms li {
    display: flex;
    align-items: flex-start;
    grid-gap: 6px;
}

.extra_terms li svg {
    height: 16px;
    width: 16px;
    flex: 0 0 16px;
    stroke-width: 2px;
    stroke: #57b252;
}
.extra_terms li span {
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 400;
}

.modal_copy_code {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 180px;
    margin: 0 auto;
    border: 2px dashed #57b252;
    width: 100%;
    border-radius: 5px;
}

.code {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    flex: 1;
    padding: 0 10px;
}

.modal_copy_code svg {
    height: 100%;
    width: 40px;
    background: #57b252;
    padding: 6px;
    stroke: #ffffff;
    cursor: pointer;
}

.modal_footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-size: 15px;
}

.modal_footer a svg {
    height: 25px;
    width: 25px;
    stroke: #fff;
    stroke-width: 2px;
}
.modal_profile_content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #0002;
    justify-content: center;
}

.modal_profile_content li {
    flex: 1;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    grid-gap: 10px;
}

.modal_profile_content li:not(:last-of-type) {
    border-bottom: 1px solid #0002;
}

.modal_profile_content li svg {
    height: 23px;
    width: 23px;
    flex: 0 025px;
    stroke: #264d55;
    stroke-width: 1.5px;
}

.modal_profile_content .content {
    display: flex;
    grid-gap: 3px;
    flex-direction: column;
}

.modal_profile_content .content h5 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
}

.modal_profile_content .content p {
    font-size: 14px;
    color: #000;
}
.modal_title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.3;
    text-transform: capitalize;
    border-bottom: 1px solid #0001;
    padding-bottom: 15px;
}