* {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans Display', sans-serif;
}

section {
   padding: 30px 0px;
   background: #fff;
}

.bg_color {
   background: #f9e6ff;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
   list-style: none;
   margin: 0px;
}

a,
a:hover,
a:focus,
a:active {
   text-decoration: none;
   color: #fff;
}

.webkit_box {
   display: -webkit-box;
   word-break: break-all;
   -webkit-line-clamp: 1;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-box-orient: vertical;
}

.web_imagebox {
   display: block;
   min-height: 20px;
   width: 100%;
   overflow: hidden;
   position: relative;
}

.web_imagebox img {
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   max-height: 100%;
   max-width: 100%;
}


/*////////////////////   SECTION HEADING   ////////////////////////*/

.heading {
   color: #8b008b;
   display: flex;
   font-size: 23px;
   align-items: center;
   grid-gap: 10px;
   font-weight: 600;
   text-transform: capitalize;
   margin-bottom: 30px;
}

.heading svg {
   height: 25px;
   width: 25px;
   flex: 0 0 25px;
}

/*////////////////////   swiper   ////////////////////////*/

.arrows {
   height: 45px !important;
   background: #fff;
   width: 40px !important;
   transition: 0.3s ease;
   opacity: 0.5;
}

.arrows:after {
   color: #80b500;
   font-size: 25px !important;
   font-weight: 300;
}

.swiper:hover .arrows {
   opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
   font-family: 'FontAwesome' !important;
}

.swiper-button-prev:after {
   content: '\f100 ' !important;
}

.swiper-button-next:after {
   content: '\f101   ' !important;
}

.swiper-button-next {
   right: 0 !important;
   border-radius: 10px 0 0 10px;
}

.swiper-button-prev {
   border-radius: 0 10px 10px 0;
   left: 0 !important;
}

/*----------swiper bullet----------*/

.swiper-pagination-fraction {
   color: #fff;
   font-size: 15px;
}


/*////////////////////   CUSTOM SCROLL BAR   ////////////////////////*/


::-webkit-scrollbar {
   width: 5px;
   height: 3px;
}

::-webkit-scrollbar-track {
   background: #fff;
   border-radius: 4px;

}

::-webkit-scrollbar-thumb {
   background: #8b008b;
   border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
   background: #8b008b;
}

/*////////////////////   selection   ////////////////////////*/

::selection {
   background: #ffe66e;
   color: #5a005a;
}

/*////////////////////   Background   ////////////////////////*/
.bg_blend {
   background-blend-mode: multiply;
   background-color: #0004;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.bg {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/* header */

.header {
   padding: 5px 0;
   background-color: #8b008b;
}

.header_2 {
   padding: 0;
}

.header_2_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   grid-gap: 20px;
   padding: 5px;
}

.header_container {
   display: flex;
   align-items: center;
   grid-gap: 50px;
}

.logo_container {
   height: 75px;
   flex: 0 0 auto;
   width: auto;
   padding: 10px 0;
   display: flex;
   align-items: center;
}

.res_menu {
   display: none;
}

.menu_toggler {
   font-size: 20px;
   position: absolute;
   top: 9.5px;
   background: #ffffff;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 15px;
   border-radius: 5px;
   height: 40px;
   display: none;
}

.logo_container img {
   max-width: 100%;
   max-height: 100%;
}

.nav_item:hover {
   color: #000;
}

.nav_item {
   color: #000;
   font-size: 14px;
   transition: 0.2s ease;
   font-weight: 500;
   text-transform: capitalize;
}

.serch_bar {
   flex: 1;
}

.serch_bar_wpr {
   display: flex;
   grid-gap: 10px;
}

.serch_bar_wpr .custom-select {
   width: auto;
   border-radius: 5px;
   border: 0;
   cursor: pointer;
   padding: 0 10px 0 3px;
   outline: none;
}

.serch_bar_wpr .custom-select:focus {
   box-shadow: none;
   outline: none;
   border: 0;
}

.search {
   display: flex;
   background: #fff;
   flex: 1;
   padding: 0 15px;
   max-width: 400px;
   overflow: hidden;
   margin-left: auto;
   border-radius: 30px;
   justify-content: space-between;
   height: 40px;
}

.search input {
   flex: 1;
   background: transparent;
   border: 0;
   outline: 0;
   padding-right: 10px;
}

.search>i {
   display: flex;
   align-items: center;
   cursor: pointer;
   justify-content: center;
   font-weight: 600;
   color: #8b008b;
   font-size: 16px;
}

.dropdown_search {
   width: 100%;
   padding: 10px;
   position: absolute;
   left: 0;
   top: calc(100% + 10px);
   z-index: 999;
   display: none;
   box-shadow: 0px 5px 10px #0001;
   background: #f8fcff;
   border-radius: 0 0 10px 10px;
}

.dropdown_search_menu {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 25px;
   margin-top: 15px;
   max-height: 300px;
   padding: 15px 15px 5px 5px;
   overflow: auto;
}

h4.featured_coupon_body_title {
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 10px;
   border-bottom: 1px solid #0001;
   text-transform: capitalize;
}

.suggestion_store {
   display: flex;
   align-items: center;
   padding: 5px 5px;
   background: #fff;
   grid-gap: 10px;
   position: relative;
   border-radius: 5px;
   transition: 0.2s ease;
   box-shadow: 0 0 5px #0001;
}

.suggestion_store:hover {
   box-shadow: 0 0 5px rgb(221 221 221 / 40%);
   transform: scale(1.01);
}

.store_img {
   margin-top: -30px;
   border-radius: 50%;
   background: #fff;
   border: 1px solid #0001;
}

.suggestion_store .web_imagebox {
   height: 50px;
   overflow: hidden;
   width: 50px;
}

.suggestion_store .web_imagebox img {
   max-height: 80%;
   max-width: 80%;
}

.suggestion_content {
   margin-top: 0px;
}

.suggestion_content p {
   font-size: 16px;
   font-weight: 500;
   color: #000;
}

.suggestion_content span {
   font-size: 14px;
   font-weight: 400;
   color: #000000c7;
}

.nav_link {
   display: flex;
   grid-gap: 30px;
}

.home_icon {
   text-align: center;
   display: flex;
   flex-direction: column;
   grid-gap: 5px;
   justify-content: center;
   align-items: center;
}

.home_icon svg {
   height: 30px;
   width: 30px;
   transition: 0.2s ease;
}

.home_icon .home {
   color: #fff;
   transition: 0.2s ease;
   font-size: 15px;
   font-weight: 500;
   text-transform: capitalize;
}

.home_icon:hover :where(.home, .home_icon svg) {
   color: #ffe66e;
   stroke: #ffe66e;
}

.navigation {
   display: flex;
   align-items: center;
   grid-gap: 30px;
}

.navigation svg {
   height: 30px;
   width: 30px;
   transform: rotate(45deg);
   position: absolute;
   display: none;
   stroke: #fff;
   top: 5px;
   border-radius: 3px;
   right: 15px;
}

.header_social {
   display: flex;
   align-items: center;
   text-transform: capitalize;
   grid-gap: 10px;
}

.header_social p {
   font-weight: 500;
}

.header_social a {
   display: flex;
   align-items: center;
   font-size: 14px;
   padding: 1px;
   justify-content: center;
   height: 20px;
   color: #fff;
   width: 20px;
   border-radius: 2px;
}

.header_social a.facebook {
   background-color: #5d82d1;
}

.header_social a.pinterest {
   background-color: #e13138;
}

.header_social a.linkedin {
   background-color: #5d82d1;
}

.header_social a.instagram {
   background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.header_social a.twitter {
   background-color: #40bff5;
}

/* banner */
.bnr_container {
   display: flex;
   grid-gap: 20px;
   flex-flow: row wrap;
}

.bnr_item {
   min-height: 130px;
   display: flex;
   flex: 1 1 320px;
   align-items: center;
   justify-content: center;
   padding: 10px 30px;
   border-radius: 5px;
   box-shadow: 0 0 5px #0001;
   background-color: #0006;
}

.bnr_heading {
   color: #fff;
   font-weight: 600;
   font-size: 20px;
   text-align: center;
   line-height: 1.5;
}

/* top Category */
.top_cat_container {
   grid-gap: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.top_cat {
   border-radius: 10px;
   overflow: hidden;
   position: relative;
   box-shadow: 0 0 8px #0001;
}


.top_cat .cat_link {
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #8b008b;
    text-transform: capitalize;
    overflow: hidden;
    min-height: 42.84px;
    max-height: 42.84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_cat_content {
   background: #fff;
   padding: 10px;
   text-align: center;
}

.top_cat_content .offers {
   font-size: 13px;
   text-transform: capitalize;
   font-weight: 500;
   display: inline-flex;
   color: darkmagenta;
   align-items: center;
   justify-content: center;
   grid-gap: 5px;
}

.top_cat_content a:hover {
   color: #000;
}

/* home coupon */
.home_cpn_container {
   display: flex;
   align-items: flex-start;
   grid-gap: 30px;
}

.home_cpn_side {
   display: flex;
   flex-direction: column;
   grid-gap: 20px;
   flex: 0 0 280px;
}

.coupon_sidebar_items {
   box-shadow: 0 0 5px #0001;
   background-color: #fff;
   padding: 10px;
   border-radius: 10px;
   display: flex;
   overflow: hidden;
   flex-direction: column;
   align-items: flex-start;
}

.coupon_sidebar_items h4 {
   font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
   padding-bottom: 10px;
   width: 100%;
   border-bottom: 1px solid #0001;
   margin-bottom: 10px;
}

.use_coupon {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   grid-gap: 10px;
   list-style: none;
}

.use_coupon li {
   color: #0009;
   font-size: 15px;
}

.use_coupon i {
   color: #ffe66e;
   padding-right: 10px;
   font-size: 11px;
}

.side_subs {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   grid-gap: 15px;
   text-align: center;
}

.side_subs svg {
   height: 40px;
   width: 40px;
   stroke-width: 0.6;
   stroke: #fff;
   fill: #000;
}

.side_sub_heading {
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 700;
}

.side_subs p {
   font-size: 14px;
   color: #afafaf;
}

.subs_field {
   height: 100%;
   display: flex;
   height: 40px;
   border: 1px solid #0002;
}

.subs_field input {
   border: 0;
   width: auto;
   overflow: hidden;
   outline: none;
   padding: 0 10px;
}

.subs_field button {
   flex: 0 0 80px;
   display: block;
   border: none;
   outline: none;
   background: darkmagenta;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   text-transform: capitalize;
}

.home_cpn_main {
   flex: 1;
   display: flex;
   flex-direction: column;
   grid-gap: 30px;
}

.coupon {
   box-shadow: 0 0 5px #0001,
      0 0 0 1px #00000003;
   border-radius: 10px;
   background: #fff;
   position: relative;
   overflow: hidden;
}

.coupon .title {
   font-size: 20px;
   line-height: 1.3;
   color: #000;
   align-self: center;
   font-weight: 600;
}

.cpn_wrpr {
   display: flex;
   align-items: center;
   padding: 10px;
   grid-gap: 10px;
}

.home_cpn_img {
   display: block;
   flex: 1;
   grid-gap: 10px;
}

.home_cpn_img_wrpr {
   display: flex;
   grid-gap: 15px;
}

.home_cpn_img .web_imagebox {
   min-height: 60px;
   width: 80px;
   flex: 0 0 80px;
   box-shadow: 0 0 0 1px #0001;
   background: #fff;
   border-radius: 5px;
}

.home_cpn_img .web_imagebox img {
   max-height: 80%;
   max-width: 80%;
}

.cpn_des {
   font-size: 15px;
   color: #606060;
   width: 100%;
   margin-top: 10px;
}

.cpn_btn_container {
   display: flex;
   align-items: center;
   flex-direction: column;
   grid-gap: 10px;
}

.coupon_get_code {
   height: 38px;
   width: 180px;
   display: flex;
   align-items: center;
   background: #fbfbfb;
   border-radius: 5px;
   margin-left: auto;
   text-transform: capitalize;
   font-size: 15px;
   font-weight: 500;
   box-shadow: inset 0 0 5px #0003;
   transition: 0.3s ease;
   perspective: 200px;
}

.coupon_get_code .code_num {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0px);
}

.coupon_get_code a {
   height: 100%;
   width: 100%;
   background: #8b008b;
   display: flex;
   justify-content: center;
   position: relative;
   transition: 0.3s ease;
   border-radius: 5px;
   align-items: center;
   transform-origin: 100% 0 0;
}

.coupon_get_code:hover:not(.deal) a {
   transform: rotateX(80deg);
}

.coupon_get_code.deal a {
   background: #ffe66e;
   color: #000;
}

.coupon_footer {
   background: #f5f5f5;
   border-top: 1px solid #0001;
}

.bages {
   display: flex;
   align-items: center;
   grid-gap: 0px 20px;
   flex-wrap: wrap;
   padding: 0 20px;
}

.bages_items {
   display: flex;
   grid-gap: 5px;
   padding: 5px 0;
   justify-content: center;
   align-items: center;
}

.bages_items i {
   font-size: 14px
}

.bages_items p {
   font-weight: 600;
   line-height: 1.5;
   font-size: 13px;
   text-transform: capitalize;
}

.bages_items.end {
   margin-left: auto;
   color: #cf0000;
}

.bages_items.user {
   color: #646464;
}

.bages_items.add {
   color: #8b008b;
}

.bages_items.verified {
   padding: 2px 10px;
   background: #4caf50;
   border-radius: 3px;
   color: #fff;
}

/* top store */
.top_str_container {
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.store_slide {
   border-radius: 8px;
   padding: 10px;
   width: 100%;
   position: relative;
   transition: 0.2s ease;
   align-items: center;
   background-color: #fff;
   border: 2px dashed #0002;
   display: flex;
   grid-gap: 10px;
}

.store_slide:hover {
   border-color: #8b008b;
   border-radius: 0;

}

.store_slide svg {
   height: 16px;
   width: 16px;
   position: absolute;
   top: -8px;
   left: 10px;
   fill: #8b008b;
   outline: 4px solid #fff;
   background: #fff;
}

.store_slide_img {
   height: 60px;
   width: 60px;
   background-color: #fff;
   padding: 0 5px;
   border: 1px solid #0001;
   border-radius: 50%;
   overflow: hidden;
}

.store_slide_img .web_imagebox {
   height: 100%;
   width: 100%;
}

.store_slide_img .web_imagebox img {
   max-height: 90%;
   max-width: 90%;
}

.store_slide_name {
   font-weight: 600;
   color: #000;
   line-height: 1.5;
   text-transform: capitalize;
   font-size: 15px;
}

.store-info {
   color: #686868ab;
   font-size: 14px;
   margin-top: auto;
   font-weight: 500;
}

.cpn_dropdown_item {
   flex-direction: row;
   grid-gap: 10px;
}

.cpn_dropdown_item:hover {
   background: #fff;
}

.cpn_dropdown_item .web_imagebox {
   height: 50px;
   border-radius: 5px;
   width: 50px;
   flex: 0 0 50px;
   background: #fff;
}

.cpn_dropdown_item .web_imagebox img {
   max-height: 90%;
   max-width: 90%;
}

.cpn_str_name {
   font-size: 16px;
   font-weight: 600;
   color: #000;
   text-transform: capitalize;
}

.cpn_str_offer {
   font-size: 14px;
   font-weight: 500;
   color: #0000009e;
}

/* home about */
.home_about .heading {
   margin-bottom: 22.5px;
}

.how_to {
   display: flex;
   grid-gap: 30px;
   flex-wrap: wrap;
}

.how_to_item {
   flex: 1 1 320px;
   display: flex;
   flex-direction: column;
   grid-gap: 10px;
}

.how_to_item h4 {
   font-size: 20px;
   color: #000;
   text-transform: capitalize;
   font-weight: 600;

}

.how_to_item p {
   font-size: 14px;
   line-height: 1.5;
   color: #606060;
   text-transform: capitalize;
   font-weight: 400;
}

/* footer */
.footer {
   background-position: 0 30%;
}

.ftr_container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}

.ftr_dis {
   font-size: 15px;
   margin-top: 10px;
   color: #c9c9c9;
   line-height: 1.5;
}

.newsletter {
   display: flex;
   text-align: center;
   flex-direction: column;
   grid-gap: 15px;
   border-radius: 6px;
   align-items: center;
   padding: 15px;
   justify-content: center;
   background-color: #f5f5f5;
}

.newsletter svg {
   height: 50px;
   width: 50px;
   padding: 10px;
   border-radius: 50px;
   background: darkmagenta;
   margin-top: -30px;
   fill: #fff;
}

.dis_heading.news_head {
   color: #000;
   font-size: 20px;
   font-weight: 700;
}

.news_letter_text {
   font-size: 15px;
   color: #606060;
}

.subs {
   flex-direction: column;
   display: flex;
   width: 100%;
   grid-gap: 10px;
}

.subs input {
   background: #fff;
   box-shadow: 0 0 5px #0001;
   flex: 0 0 40px;
   border: 0;
   border-radius: 5px;
   outline: 0;
   padding: 0 10px;
}

.subs .subs_btn {
   flex: 0 0 50px;
   border-radius: 5px;
   background: #8b008b;
   flex: 0 0 40px;
   display: flex;
   align-items: center;
   font-weight: 500;
   justify-content: center;
   transition: 0.3s ease;
}

.social_icons {
   display: flex;
   align-items: center;
   grid-gap: 10px;
   justify-content: center;
}

.social_icons_item i {
   font-size: 15px;
   color: #fff;
}

.social_icons_item {
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s ease;
   overflow: hidden;
}

.social_icons_item.fb {
   background: #1877f2;
}

.social_icons_item.twt {
   background: #5da9dd;
}

.social_icons_item.insta {
   background: rgb(131, 58, 180);
   position: relative;
   background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.social_icons_item.google_plus {
   background: #e13838;
}

.social_icons_item.linked_in {
   background: #0250b1;
}

.social_icons_item.fb:hover {
   box-shadow: 0 0 10px #1877f2;
}

.social_icons_item.twt:hover {
   box-shadow: 0 0 10px #5da9dd;
}

.social_icons_item.insta:hover {
   box-shadow: 0 0 10px rgba(253, 29, 29, 1);
}

.social_icons_item.google_plus:hover {
   box-shadow: 0 0 10px #e13838;
}

.social_icons_item.linked_in:hover {
   box-shadow: 0 0 10px #0250b1;
}

.ftr_links {
   display: flex;
   grid-gap: 20px;
}

.ftr_item {
   flex: 1;
}

.ftr_heading {
   font-size: 20px;
   color: #fff;
   font-weight: 600;
   text-transform: capitalize;
   margin-bottom: 20px;
}

.ftr_item ul {
   list-style: none;
}

.ftr_item ul a {
   display: inline-block;
   padding-bottom: 10px;
   text-transform: capitalize;
   font-weight: 400;
   letter-spacing: 0.5px;
}

.copy_right {
   display: flex;
   align-items: center;
   margin-top: 30px;
   text-align: center;
   justify-content: center;
   font-size: 15px;
   font-weight: 500;
   color: #838383;
}

/* store */
.str_list_container {
   display: flex;
   align-items: flex-start;
   grid-gap: 30px;
}

.btnContainer {
   background: #f7f7f7;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   border-radius: 5px;
   overflow: hidden;
   border-top: 1px solid #0001;
   border-left: 1px solid #0001;
}

.btnContainer .btns {
   padding: 8px;
   position: relative;
   flex: 1;
   font-size: 15px;
   text-transform: capitalize;
   color: #000;
   display: flex;
   justify-content: center;
   width: 35px;
   height: 35px;
   align-items: center;
   transition: 0.2s;
   font-weight: 500;

   border-right: 1px solid #0001;
   border-bottom: 1px solid #0001;
}

.btnContainer .btns:hover,
.btnContainer .btns.active {
   color: #fff;
   background: darkmagenta;
}

.str_side {
   flex: 0 0 300px;
   display: flex;
   flex-direction: column;
   grid-gap: 20px;
   max-height: 420px;
   overflow: hidden;
}

.str_side_btn {
   display: flex;
   align-items: center;
   grid-gap: 10px;
}

.str_side_btn a {
   font-size: 15px;
   color: #fff;
   position: relative;
   transition: 0.3s ease;
   background: darkmagenta;
   border-radius: 5px;
   box-shadow: 0 0 5px #0001;
   text-transform: capitalize;
   padding: 8px;
   font-weight: 500;
   opacity: 0.3;
   text-align: center;
   flex: 1;
}

.str_side_btn a.active::before {
   content: '';
   position: absolute;
   height: 15px;
   width: 20px;
   background: darkmagenta;
   top: 99%;
   left: 50%;
   transform: translateX(-50%);
   clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.str_side_btn a:hover,
.str_side_btn a.active {
   opacity: 1;
}

.str_side_item {
   background: #fff;
   padding: 10px 0;
   border-radius: 5px;
   box-shadow: 0 0 5px #0001;
   display: flex;
   flex-direction: column;
   grid-gap: 10px;
}

.str_side_item h5 {
   font-size: 20px;
   padding: 0 10px;
   font-weight: 600;
   color: #000;
   text-transform: capitalize;
}

.str_body {
   display: flex;
   flex-direction: column;
   max-height: 300px;
   overflow: auto;
}

.str_body::-webkit-scrollbar {
   width: 3px;
   height: 3px;
}

.str_body::-webkit-scrollbar-track {
   background: #fff;
   border-radius: 4px;
}

.str_body::-webkit-scrollbar-thumb {
   background: #858585;
   border-radius: 4px;
}

.str_body a {
   display: flex;
   background: #fff;
   padding: 10px;
   grid-gap: 5px;
   transition: 0.3s ease;
   border-top: 1px solid #0001;
}

.str_body a .web_imagebox {
   width: 50px;
   flex: 0 0 50px;
   height: auto;
   margin-bottom: 0;
   border: none;
}

.store-name {
   font-size: 16px;
   font-weight: 600;
   color: #000;
}

.store-info {
   padding: 2px 0;
   color: #7b7b7b;
   font-size: 13px;
}

.str_main {
   flex: 1;
   box-shadow: 0 0 5px #0001;
   padding: 15px;
   border-radius: 4px;
   background: #fff;
   display: flex;
   flex-direction: column;
   grid-gap: 20px;
}

.store_heading {
   text-transform: capitalize;
   line-height: 1.5;
   font-size: 20px;
   font-weight: 600;
   color: #000;
}

.store_text {
   color: #6a6a6a;
   padding: 10px 0 12px 0;
   font-size: 16px;
}

.str_search {
   padding-right: 0;
   box-shadow: 0 0 0 1px #0001;
   max-width: 100%;
   border-radius: 5px;
}

.str_search i {
   flex: 0 0 40px;
   background: #8b008b;
   color: #ffffff;
}

.str_main_item h5 {
   font-size: 20px;
   display: flex;
   font-weight: 600;
   text-transform: capitalize;
   color: #000;
   align-items: center;
   justify-content: space-between;
}

.str_down {
   height: 30px;
   width: 30px;
   padding: 3px;
   border-radius: 5px;
   box-shadow: 0 0 5px #0001;
   cursor: pointer;
   background: #8b008b;
}

.str_down svg {
   transition: 0.5s ease;
}

.str_down svg.active {
   transform: rotate(-180deg);
}

.str_main_wrpr {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
   padding-top: 20px;

   border-top: 1px solid #0001;

   margin-top: 13px;
   grid-gap: 20px;
}

.str_item {
   display: flex;
   align-items: center;
   justify-content: center;
   grid-gap: 5px;
   flex-direction: column;
   transition: 0.2s ease-in-out;
   background: #ffffff;
   padding: 10px;
   border-radius: 4px;
   box-shadow: 0 0 5px #f1f1f1;
}

.str_item .web_imagebox {
   height: 50px;
   width: 80%;
   background: #fff;
}

.str_item .store_slide_name {
   margin: 0;
   padding: 0;
}

.offers {
   color: #0009;
   text-transform: capitalize;
   font-weight: 400;
}

.str_item .web_imagebox img {
   max-height: 100%;
   max-width: 100%;
}

.str_item:hover {
   transform: scale(1.03);
   box-shadow: 0 0 10px #f1f1f1;
}

/* categories */
.cat_list_container {
   flex-direction: row-reverse;
}

.cat_main {
   grid-gap: 15px;
}

.cat_side {
   max-height: inherit;
}

/* contact */
.contact_container {
   display: flex;
   align-items: flex-start;
   grid-gap: 30px;
}

.contact_form {
   flex: 1;
   background: #fff;
   box-shadow: 0 0 5px #0001;
   padding: 15px;
   border-radius: 5px;
}

.get_in_touch {
   font-size: 23px;
   text-transform: capitalize;
   margin-top: 0;
   font-weight: 600;
   color: #000;
}

.contact_text {
   font-size: 15px;
   line-height: 1.5;
   color: #7c7c7c;
   padding-top: 10px;
}

.contact_form label:not(:first-of-type) {
   margin-top: 8px;
}

.contact_form form {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   grid-gap: 20px;
}

.input {
   flex: 0 0 300px;
   display: flex;
   flex-direction: column;
   grid-gap: 5px;
   width: 100%;
}

.textarea {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   grid-gap: 10px;
}

.input input,
form textarea {
   outline: none;
   border: 0;
   box-shadow: 0 0 0 1px #0001;
}

.input input {
   height: 40px;
   width: 100%;
   padding: 8px 15px;
   border-radius: 5px;
}

.input input:focus,
form textarea:focus form:is(.input input, textarea):focus {
   box-shadow: 0 0 0 1px #b0d35b;

}

.input input::placeholder {
   text-transform: capitalize;
}

form textarea {
   flex: 1;
   width: 100%;
   box-shadow: none;
   box-shadow: 0 0 0 1px #0001;
   padding: 8px 15px;
   border-radius: 5px;
   resize: none;
}

.send_btn {
   display: block;
   line-height: 40px;
   padding: 0 37px;
   position: relative;
   outline: none;
   border-radius: 4px;
   z-index: 1;
   border: 0;
   background: #8b008b;
   color: #fff;
   transition: .2s ease;
   overflow: hidden;
   text-transform: capitalize;
   font-size: 15px;
   font-weight: 500;
}

.send_btn:hover {
   background: #8b008b;
}

.contact_sidebar {
   flex: 0 0 300px;
   padding: 15px;
   border: 1px solid #0001;
   box-shadow: 0 0 5px #0001;
   background: #fff;
   position: relative;
   border-radius: 5px;
}

.contact_heading_side {
   font-size: 25px;
   font-weight: 600;
   color: #000;
   text-transform: capitalize;
}

.info_container {
   display: flex;
   flex-direction: column;
   grid-gap: 30px;
   margin-top: 20px;
   align-items: flex-start;
}

.info_item {
   display: flex;
   grid-gap: 10px;
   align-items: center;
}

.info_item p {
   font-size: 15px;
   font-weight: 500;
   text-transform: capitalize;
   color: #000;

}

.or {
   color: #000;
   font-size: 15px;
   font-weight: 500;
   width: 100%;
   text-align: center;
}

.contact .social_icons {
   margin: 0 auto;
}

/* about */
.about_panel_container {
   width: calc(100% - 330px);
}

.all_quantity {
   margin-top: 30px;
   display: flex;
   overflow: auto;
   padding-bottom: 10px;
   grid-gap: 20px;
}

.all_qntity_item {
   flex: 0 0 220px;
   position: relative;
   background: #efbcff;
   padding: 15px;
   border-radius: 5px;
}

.all_qntity_item svg {
   position: absolute;
   top: 10px;
   right: 20px;
   height: 40px;
   opacity: 0.3;
   width: 40px;
   fill: #5e008b;
}

.qntity {
   font-size: 25px;
   font-weight: 600;
   color: #8b008b;
}

.qntity_name {
   font-size: 15px;
   color: #a05cb5;
   text-transform: capitalize;
   font-weight: 400;
   margin-top: 3px;
}

.about_social {
   margin-top: 20px;
   justify-content: flex-start;
}


.about_container {
   display: flex;
   align-items: flex-start;
   grid-gap: 30px;
}

.about_main {
   flex: 1;
}

.abt_sidebar {
   flex: 0 0 280px;
   box-shadow: 0 0 5px #0001;
   margin-top: -260px;
   background: #fff;
   overflow: hidden;
   border: 1px solid #0001;
   border-top: 0;
   position: sticky;
   border-radius: 5px;
   top: 30px;
}

.abt_sidebar h4 {
   font-size: 18px;
   font-weight: 600;
   color: #000;
   margin: 10px;
   text-transform: capitalize;
}

.abt_wrpr {
   display: flex;
   overflow-y: auto;
   flex-direction: column;
}

.abt_item {
   padding: 10px;
   display: flex;
   align-items: center;
   transition: 0.2s ease;
   grid-gap: 10px;
   color: #000;
   text-transform: capitalize;
   font-size: 15px;
   font-weight: 500;
   border-top: 1px solid #0001;
}

.abt_item svg {
   flex: 0 0 24px;
}

.abt_item:last-of-type {
   border-bottom: 1px solid #0001;
}

.abt_item:not(.info .abt_item):hover,
.abt_item:not(.info .abt_item).active {
   color: #fff;
   background: #8b008b;
   border-color: #fff4;
}

.info .abt_item:hover {
   color: #000;
}

.about_text {
   font-size: 15px;
   margin-bottom: 10px;
}

.about_text:last-of-type {
   margin-bottom: 0;
}

/* single store */
.single_store_panel {
   background: #780078;
}

.sngl_str_pnl_container {
   display: flex;
   align-items: flex-start;
   grid-gap: 30px;
   background: #fff;
   width: 100%;
   margin-bottom: -60px;
   border-radius: 5px;
   box-shadow: 0 0 5px #0001;
   padding: 15px;
}

.str_pnl_img {
   height: 100px;
   flex: 0 0 100px;
   width: 100px;
   background: #fff;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 0 0 5px #8b008b38;
   margin: 5px 0 0 5px;
}

.str_pnl_img .web_imagebox {
   height: 100%;
   width: 100%;
}

.str_pnl_img .web_imagebox img {
   max-height: 100%;
   max-width: 100%;
}

.str_pnl_content_head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   grid-gap: 20px;
}

.str_pnl_title_des {
   width: 100%;
   display: flex;
   flex-direction: column;
   grid-gap: 5px;
}

.str_pnl_title_des h4 {
   font-size: 25px;
   font-weight: 600;
   text-transform: capitalize;
   color: #000;
}

.str_pnl_title_des p {
   font-size: 15px;
   color: #0009;
   line-height: 1.5;
}

.rating_container {
   flex: 0 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   grid-gap: 5px;
}

.stars {
   display: flex;
   align-items: center;
   justify-content: center;
   grid-gap: 5px;
}

.stars i {
   font-size: 25px;
   color: #8b008b2b;
}

.stars a.active i {
   color: #ffbc00;

}

.rating_dis {
   font-size: 15px;
   font-weight: 500;
   color: #888;
   text-align: center;
}

.str_pnl_content_body {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   grid-gap: 20px;
   margin-top: 20px;
}

.str_offers_item {
   background: #ffe66e;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 0 7px #ffe66e;
   padding: 10px;
   min-width: 80px;
   display: flex;
   flex-direction: column;
   transition: 0.2s ease;
   grid-gap: 3px;
   align-items: center;
   justify-content: center;
}

.str_offers_item:hover,
.str_offers_item.active {
   background: #8b008b;
   color: #fff !important;
   box-shadow: 0 0 10px #8b008b33;
}

.str_offers_item h3 {
   font-size: 18px;
   text-transform: capitalize;
   font-weight: 600;
}

.str_offers_item p {
   font-size: 14px;
   font-weight: 500;
   text-transform: capitalize;
}

.str_link {
   font-size: 15px;
   color: #fff;
   padding: 5px 20px;
   background: #8b008b;
   display: flex;
   box-shadow: 0 0 10px #8b008b33;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   text-transform: capitalize;
   font-weight: 500;
   margin-left: auto;
   grid-gap: 5px;
   transition: 0.2s ease;
}

.str_link svg {
   height: 18px;
   width: 18px;
   fill: #fff;
}

.str_link:hover {
   color: #fff;
}

.single_store_container {
   display: flex;
   align-items: flex-start;
   grid-gap: 30px;
   margin-top: 35px;
}

.sngle_str_sidebar {
   flex: 0 0 300px;
   display: flex;
   flex-direction: column;
   grid-gap: 40px;
   margin-top: 16px;
}

.sngle_str_main {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   grid-gap: 20px;
   width: 100%;
}

.sngle_str_side_item {
   padding: 15px;
   border-radius: 5px;
   box-shadow: 0 0 5px #0001;
   background: #fff;
   display: flex;
   flex-direction: column;
   grid-gap: 10px;
}

.sngl_side_heading {
   font-size: 16px;
   font-weight: 600;
   padding: 7px 20px;
   margin-bottom: 10px;
   color: #000;
   text-transform: capitalize;
   margin-top: -26px;
   background: #fff5c5;
   align-self: flex-start;
   box-shadow: 0 0 0 5px #ffffff;
   border-radius: 5px;
}

.verified_filter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   width: 100%;
}

.verified_filter_text {
   font-size: 15px;
   font-weight: 500;
   text-transform: capitalize;
   color: var(--theme-1);
}

.verified_btn {
   height: 5px;
   cursor: pointer;
   width: 30px;
   border-radius: 30px;
   background: #0003;
   transition: 0.2s ease;
   position: relative;
}

.verified_btn.active {
   background: #8b008b36;
}

.verified_btn:before {
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background: #ededed;
   content: '';
   position: absolute;
   transition: 0.3s ease;
   top: 50%;
   transform: translate(0, -50%);
}

.verified_btn.active:before {
   margin-left: calc(100% - 15px);
   right: auto;
   left: auto;
   background: #8b008b;
   box-shadow: 0 0 10px #8b008b42;
}

.sngle_tab {
   display: flex;
   flex-wrap: wrap;
   grid-gap: 10px;
}

.sngle_tab_item {
   padding: 5px 10px;
   border-radius: 5px;
   color: #000;
   font-size: 14px;
   font-weight: 500;
   background: #00000007;
   transition: 0.2s ease;
   text-transform: capitalize;
}

.sngle_tab_item:hover {
   background: #8b008b;
}

.cpn_container {
   display: flex;
   flex-direction: column;
   width: 100%;
   grid-gap: 20px;
}

.expired_coupon_container {
   padding-top: 15px;
   text-transform: capitalize;
   width: 100%;
   border-top: 1px solid #0001;
}

.expired_coupon_heading {
   font-size: 20px;
   font-weight: 600;
   color: #000;
}

.expired_coupon_container p {
   font-size: 14px;
   font-weight: 500;
   padding-top: 10px;
}

.expire_cpn {
   filter: grayscale(1);
}
/* single categories */
.sngle_cat {
    flex-direction: row-reverse;
    margin-top: 0;
}
.sngl_cat_pnl_container{
   margin-bottom: 0;
}
.sngl_cat_pnl_container .str_offers_item{
   flex-direction: row;
   grid-gap: 7px;
}
/* modal */

.modal_text{
   font-size: 15px;
   color: #000;
   text-align: center;
}
.modal-body{
   padding: 5px 15px 10px 15px;
}
.modal_body_wrpr {
    padding-top: 15px;
    display: flex;
    grid-gap: 20px;
    flex-direction: column;
}
.modal_profile{
       display: flex;
    grid-gap: 20px;
}
.modal_body_wrpr .web_imagebox{
   height: 100px;
   width: 150px;
   flex: 0 0 150px;
   background: #fff;
   border-radius: 5px;
   box-shadow: 0 0 10px #00000009;
   border: 1px solid #00000009;
}
.modal_body_wrpr .web_imagebox img{
   max-height: 80%;
   max-width: 80%;
}
.model_code {
    border: 2px dashed #8b008b;
    position: relative;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model_code svg {
    height: 100%;
    width: 40px;
    fill: #ffffff;
    position: absolute;
    left: 0;
    padding: 6px 10px;
    top: 50%;
    stroke: #8b008b;
    border-right: 2px dashed #8b008b;
    background: #8b008b;
    stroke-width: 20px;
    transform: translateY(-50%);
}
.modal-header{
   border-bottom: 0;
   padding-bottom: 0;
}
.modal_cpn_name {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #8b008b;
}
.modal-title{
   font-size: 20px;
   text-align: center;
   padding-top: 6px;
   text-transform: capitalize;
   font-weight: 500;
   color: #000;
}
.model_str_link {
    font-size: 15px;
    color: #fff;
    background: #8b008b;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 500;
    grid-gap: 5px;
    transition: 0.2s ease;
}
.model_str_link svg {
    height: 13px;
    width: 13px;
    fill: #fff;
}
.model_rated {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
.model_rated i {
    color: #ffbc00;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5c005c;
    border-radius: 0 0 6px 6px;
}
.modal-footer:before,
.modal-footer:after{
   content: inherit;
}
.modal-footer .expire{
   border: 0;
   color: #fff;
   padding: 0;
}
.modal-footer i{
   padding-right: 5px;
}
.close_modal {
    height: 30px;
    width: 30px;
    background: #8b008b !important;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
}
.modal-header .close {
    margin-top: -2px;
}
.close_modal span {
    font-size: 25px;
    font-weight: 600;
    text-shadow: none;
    color: #fff;
}
.close:hover, .close:focus{
   opacity: 1;
}
.modal-content{
   border: 0;
}
.extra_terms {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 1;
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
    max-height: 140px;
    background: #f4faff;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
}
.extra_terms li {
    padding-left: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #666666;
}
::marker {
    color: #8b008b;
}
.extras_heading {
    font-size: 15px;
    color: #102846;
    text-align: left;
    font-weight: 700;
}
.model_code_wrpr {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}